{% extends 'excel/index_excel.html' %}
{% load static %}


{% block title_same_files %}Вступ до Word 2010{% endblock %}

{% block content_same_files %}
    <div class="container">
    <div class="block">
    <div class="intro_content">
        <div class="title"><b>Вступ</b></div>
        <p>Сучасні наукові дослідження та діяльність фахівців органічно пов'язані з
            широким використанням обчислювальної техніки. Застосування останньої
            пояснюється її високою ефективністю, яка забезпечує значну економію часу та
            коштів.
        </p>
        <p>
            Метою курсу "Інформатика " є формування комп’ютерної грамотності, як
            сукупності знань, умінь і навичок, оволодіння якими дозволить підготувати
            студентів до можливості використання обчислювальної техніки в практичній
            діяльності.
        </p>
        <p>
            Microsoft Office 2010 для Windows є одним з популярних комплексів
            прикладних програм для вирішення практично будь-яких завдань обробки
            даних, що виникають в офісі і удома. У всіх додатках Microsoft Office
            використовується один і той же графічний інтерфейс користувача, що спрощує
            навчання роботі з додатками.
        </p>
        <p>
            Навчання роботі з Microsoft Office починається з навчання роботі з
            додатком Microsoft Word, оскільки текстовий процесор Microsoft Word 2010 є
            одним з основних компонентів Microsoft Office 2010. Текстовий процесор
            відрізняється від текстового редактора, який призначений для підготовки і
            роздруку текстових даних, тим, що він доповнений засобами оформлення і
            обробки тексту.
        </p>	
        <p>
            Редактор Word використовують практично всі, хто працює на комп'ютері,
            і професіонали, і початкуючі користувачі.
        </p>
        <p>Текстовий процесор Microsoft Word є багатофункціональним
            багатовіконним редактором текстів, що дозволяє створювати документи будьякого рівня складності, і забезпечений великим набором інструментів для їх
            редагування і оформлення. Word — один з найпопулярніших додатків, що
            дозволяє створити документ будь-якого виду: від простої записки до наукової
            роботи
        </p>
        <p>
            Окрім безпосереднього введення і форматування тексту текстовий
            процесор дозволяє створювати таблиці і табличні форми, здійснювати верстку
            тексту в декілька колонок, малювати, упроваджувати графічні об'єкти,
            створювати документи для серійної розсилки (злиття документів), створювати
            віртуальні документи, що складаються з посилань на інші файли.
        </p>	
        <p>
            Автори не ставили перед собою ціль докладного опису MS Word 2010.
            Основна увага надана питанням практичної роботи, що найбільш часто
            зустрічаються при створенні текстових документів. Розроблені варіанти
            завдань студентам економічних спеціальностей для отримання практичних
            навиків роботи з текстовим процесором MS Word 2010.
        </p>	
    </div>
</div>
</div>
{% endblock %}