{% load static %}

<div class="container">
    <div class="block">
        <div class="intro_content">
        <p><h2><b>Тема</b></h2>Форми. Призначення та режим роботи з формами. Створення простих форм. Способи створення форм. 
            Звіти. Призначення та режим роботи із звітами. Створення звітів.</p>
        <br><p><h2><b>Мета</b></h2>Розглянути призначення та способи створення форм і звітів. 
            Познайомити з створенням форм за допомогою конструктора та майстра форм. 
            Розглянути призначення та способи створення звітів. Розвивати навики роботи СУБД Access. 
            Виховувати свідоме ставлення до інформатики.</p>
        
        <br><h2><b>Теоретичні відомості</b></h2><br>
        
        <h2><b>Форми. Призначення та режим роботи з формами.</b></h2>
        <p>Розглянуті раніше способи подачі даних - табличні. Для деяких користувачів табличне подання даних може бути незручним. 
            Часто дані необхідно розташовувати у такому вигляді, в якому зберігаються відповідні документи. 
            В СУБД Access є два основні способи відображення даних з бази даних для візуального вигляду: 1) у вигляді таблиці; 2) у вигляді форми.<br> 
            Форма подібна до бланка чи карточки. Прикладами форми є анкета, сторінки з паспорта, карточка з досьє чи бібліографічна карточка в бібліотеці. 
            Один примірник форми (запис у вигляді форми) містить дані лише про один об'єкт бази даних.<br>
            Базу даних звичайно створюють спочатку у вигляді таблиці, а пізніше відображають у вигляді форм. Перехід від таблиці до форм, окрім кращого подання даних, дає низку додаткових можливостей. На формі можна зручно розташувати:
        <ul>
            <li>поля типу OLE з картинками, фотографіями тощо;</li>
            <li>елементи керування: кнопки перемикаці тощо;</li>
            <li>красиві написи: заголовки форми, різні тексти;</li>
            <li>розрисувати форму чи задати фоновий рисунок-заставку (стиль): сутінки, глобус, хмари тощо;</li>
            <li>обчислювальні поля (це також елементи керування) для відображення результатів обчислень, виконаних на базі інших полів;</li>
            <li>закладки (багатосторінкові форми, де поля групують за змістом на різних сторінках)</li>
        </ul>
        </p>

        <br><h2><b>Створення простих форм. Способи створення форм.</b></h2><br>
        <p>За допомогою засобу Форма можна створити форму одним клацанням. 
            Коли ви використовуєте цей засіб, усі поля з відповідного джерела даних, розміщуються у формі. 
            Ви можете відразу ж почати використовувати нову форму або змінити її в режимі розмітки чи конструктора відповідно до своїх потреб.</p>

        <br><h2><b>Створення нової форми за допомогою засобу Форма:</b></h2><br>
        <p>В області переходів клацніть таблицю або запит із даними, які мають відображатись у формі. 
           На вкладці Створення в групі Форми натисніть кнопку Форма.</p>

        <div class="img_content">
            <img src="{% static 'access/img/image23.png' %}" alt="Alt" class="img_exc">
        </div>

        <br><h2><b>Створення розділеної форми за допомогою засобу "Розділена форма"</b></h2><br>
        <p>Розділена форма передбачає два способи перегляду даних одночасно: у поданні форми та у вікні табличного подання даних. 
            Розділена форма відрізняється від комбінації з форми та підформи тим, що обидва подання підключено до того самого джерела даних і вони постійно синхронізуються одне з одним. 
            Якщо виділити поле в одній частині форми, це ж поле буде виділено в іншій частині форми. 
            У будь-якій із двох частин можна додавати, редагувати або видаляти дані (за умови, що джерело записів оновлюване, а у формі не налаштовано заборону таких дій). 
            Робота з розділеними формами дає змогу користуватися перевагами двох типів форм в одній формі. Наприклад, ви можете скористатися вікном табличного подання даних, 
            що швидко знайти запис, а потім поданням форми, щоб переглянути й відредагувати цей запис.</p><br>
        <p>Щоб створити розділену форму за допомогою засобу "Розділена форма": В області переходів клацніть таблицю або запит із даними, які потрібно додати до форми, 
            або відкрийте таблицю чи запит у вікні табличного подання даних.На вкладці Створення в групі Форми натисніть кнопку Додаткові форми та виберіть Розділена форма.</p>
        <div class="img_content">
            <img src="{% static 'access/img/image24.png' %}" alt="Alt" class="img_exc">
        </div>

        <p>В Access створиться форма та відобразиться в режимі розмітки. У режимі розмітки можна змінювати макет форми, коли в ній відображаються дані. 
            Наприклад, за потреби можна налаштувати розмір текстових полів відповідно до обсягу даних.</p>

        <br><h2><b>Створення форми, у якій відображаються кілька записів, за допомогою засобу "Кілька елементів"</b></h2><br>
        <p>У формі, створеній за допомогою засобу "Форма", відображається один запис за раз. 
            Якщо необхідно, щоб у формі відображалося кілька записів, але в ній було більше можливостей для налаштування, ніж у даних у табличному поданні, 
            можна скористатися засобом "Кілька елементів". В області переходів клацніть таблицю або запит із даними, які мають відображатись у формі. 
            На вкладці Створення в групі Форми натисніть кнопку Додаткові форми та виберіть Кілька елементів.</p>

        <div class="img_content">
            <img src="{% static 'access/img/image25.png' %}" alt="Alt" class="img_exc">
        </div>

        <p>В Access створиться форма та відобразиться в режимі розмітки. У режимі розмітки можна змінювати макет форми, коли в ній відображаються дані. 
            Коли використовується засіб "Кілька елементів", створена форма нагадує табличне подання даних. Дані впорядковано в рядки та стовпці, а крім того, відображається кілька записів одночасно. 
            Проте форма "Кілька елементів" надає більше можливостей для налаштування, ніж табличне подання даних, наприклад, тут є можливість додавати графічні елементи, кнопки та інші елементи керування.</p>

        <br><h2><b>Створення форми за допомогою Майстра форм</b></h2><br>
        <p>Щоб вибрати поля, які мають відображатись у формі, використовуйте майстер форм замість різних вищезгаданих інструментів для побудови форми. 
            Ви також можете визначити спосіб групування й сортування даних і використати поля з кількох таблиць або запитів за умови, 
            що зв’язки між таблицями й запитами вказано заздалегідь.</p><br>
        <p>На вкладці Створення в групі Форми натисніть кнопку Майстер форм. Дотримуйтеся вказівок на сторінках майстра форм</p>

        <div class="img_content">
            <img src="{% static 'access/img/image26.png' %}" alt="Alt" class="img_exc">
        </div>
        <p>На останній сторінці майстра натисніть кнопку Готово.</p>
        <br><h2><b>Створення форми за допомогою засобу "Пуста форма"</b></h2><br>
        <p>Щоб створити форму без елементів керування або попередньо відформатованих елементів, 
            на вкладці Створення натисніть кнопку Пуста форма. 
            Програма Access відкриє пусту форму в поданні макета й відобразить область Список полів.</p>
        
        <div class="img_content">
            <img src="{% static 'access/img/image27.png' %}" alt="Alt" class="img_exc">
        </div>
        <p>- В області Список полів натисніть знак "плюс" (+) поруч з однією або кількома таблицями, 
            що містять поля, які мають відображатися у формі.</p>
        
        <div class="img_content small">
            <img src="{% static 'access/img/image28.png' %}" alt="Alt" class="img_exc">
        </div>

        <p>Скористайтеся знаряддями у групі Елементи керування на вкладці Знаряддя для макетів форм, 
            щоб додати до форми емблему, назву, кількість сторінок або дату та час.</p>

        <div class="img_content">
            <img src="{% static 'access/img/image29.png' %}" alt="Alt" class="img_exc">
        </div>


        <br><h2><b>Режим розмітки й режим конструктора</b></h2><br>
        <p>Режим розмітки – це подання, у якому найзручніше інтуїтивно змінювати форму. 
            У цьому режимі можна внести практично будь-які можливі зміни до форми в Access.<br><br>
            У режимі розмітки форма фактично працює. Таким чином, ви можете побачити, як відображатимуться дані під час використання форми. 
            Проте в цьому режимі також можна змінити макет форми. Оскільки ви можете бачити дані, змінюючи форму, 
            у цьому режимі дуже зручно регулювати розмір елементів керування та виконувати практично будь-яке інше завдання, що впливає на оформлення та зручність використання форми. 
            Якщо яке-небудь завдання не можна виконати в режимі розмітки, перейдіть у режим конструктора. У деяких випадках відображається повідомлення про те, що для виконання певної зміни потрібно перейти в режим конструктора.</p><br>

        <p>Режим конструктора надає деталізованіше подання структури форми. Відображаються розділи "Верхній колонтитул", 
            "Відомості" та "Нижній колонтитул" для форми. У режимі конструктора форма не працює. Таким чином, 
            вносячи зміни до макета, ви не зможете переглянути відповіді дані. Проте деякі завдання простіше виконати в режимі конструктора, ніж у режимі розмітки. Ви можете:
        <ul>
            <li>додавати до форми ширший спектр елементів керування, наприклад зв’язані рамки об’єктів, розриви сторінок і діаграми;</li>
            <li>редагувати джерела елемента керування "текстове поле" в самих текстових полях без використання аркуша властивостей;</li>
            <li>змінювати розділи форми, як-от "Верхній колонтитул форми" або "Відомості";</li>
            <li>змінювати певні властивості форми, які не можна змінювати в режимі розмітки.</li>
        </ul></p>

        <br><h2><b>Налаштування форми в режимі розмітки</b></h2><br>
        <p>Створивши форму, ви можете легко налаштувати її структуру в режимі розмітки. 
            Використовуючи фактичні дані з форми як орієнтир, ви можете перевпорядкувати елементи керування та відрегулювати їхній розмір. 
            У формі можна розмістити нові елементи керування, а також визначити властивості форми та її елементів керування. 
            Щоб перейти в режим розмітки, клацніть форму правою кнопкою миші в області переходів і виберіть Режим розмітки. 
            Ви можете змінити властивості форми, її елементів керування та розділів, скориставшись аркушем властивостей. Щоб відобразити аркуш властивостей, натисніть клавішу F4.</p>
        <div class="img_content">
            <img src="{% static 'access/img/image30.png' %}" alt="Alt" class="img_exc">
        </div>

        <br><h2><b>Налаштування форми в режимі конструктора</b></h2><br>
        <p>Ви також можете налаштувати макет форми в режимі конструктора. Ви можете додати до форми нові елементи керування та поля, 
            додавши їх до бланка. Аркуш властивостей надає доступ до великої кількості властивостей, за допомогою яких можна налаштувати форму. 
            Щоб перейти в режим конструктора, клацніть правою кнопкою миші ім’я форми в області переходів і виберіть Конструктор. Форма відобразиться в поданні конструктора. 
            Ви можете змінити властивості форми, її елементів керування та розділів, скориставшись аркушем властивостей. Щоб відобразити аркуш властивостей, натисніть клавішу F4.</p>

        <div class="img_content">
            <img src="{% static 'access/img/image31.png' %}" alt="Alt" class="img_exc">
        </div>

        <p>Щоб вставити елемент керування, потрібно його вибрати на панелі інструментів та клацнути на формі у місці вставляння. 
            Кнопки і перемикачі вставляють у режимі натиснутої кнопки Запуск майстра. Майстер дає змогу поставити кнопкам у відповідність певні дії: гортати сторінки форми, закрити форму тощо.<br>
            У базі даних можна виконуват різні обчислення: обчислювати значення поля за деякою формулою, визначати суму чи середнє значення поля за деякою формулою, 
            визначати суму чи середнє значенн числового поля для всіх чи відібраних записів тощо. 
            Це дає змогу розв'язувати засобами баз даних не лише інформаційно-пошукові задачі, але й задачі з певним обсягом обчислень, наприклад, бугалтерські. 
            З метою виконання обчислень у формі створюють нове поле (застосувавши команду Вставити поле), априклад, з назвоу СУМА - для обчислення балів учнів з усіх предметів. 
            Йому можна надати значення за допомогою такої формули (квадратні дужки [] опускають, якщо назви полів не мають пропусків):=[Математика]+[Фізика]+[Мова]+[Хімія]. Таки чином Конструктор форм має додаткові можливості.</p>

        <br><h2><b>Звіти. Призначення та режим роботи із звітами.</b></h2><br>

        <p>Звіти - це певним чином вибрані й оформлені дані. Вони призначені для оформлення потрібних даних з бази згідно з вимогами замовника чи існуючих стандартів і виведення їх на папір. 
            В звіті можна групувати та сортувати дані в будь-якому порядку, отримувати готові значення й інші статистичні величини, а також поміщати графічні діаграми. 
            Так в звіти можна добавляти малюнки, ділову графіку, а також Значенна полів МЕМО.</p>

        <p>Є такі засоби створення звітів:
            <ul>
                <li>конструктор;
                <li>майстер звітів;
                <li>автозвіти. 
            </ul>
        </p>

        <p>Для створення звіту необхідно відкрити базу даних і на вкладці Створення в групі Звіти натисніть кнопку Звіт. 
            Access сформує звіт і відобразить його в режимі розмітки.</p>

        <div class="img_content">
            <img src="{% static 'access/img/image32.png' %}" alt="Alt" class="img_exc">
        </div>

        <p>Потім потрібно вибрати потрібний варіант звіту. Слід зауважити, що створення звіту аналогічне створенню форми. 
            Але при створенні звітів за допомогою майстра звітів, можна задавати не тільки стилі оформлення, а й сортувати записи та задавати рівні групування (аналогічно текстовому редактору Microsoft Word), 
            задавати підведення підсумків (аналогічно електронним таблицям Microsoft Excel).</p><br>

        <p>Як і у випадку створення форм оптимальним є комбінований спосіб: звіт створюють за допомогою майстра звіту, а пізніше дооформлюють його вручну за допомогою конструктора. 
            Звіт може складатися із декількох частин (елементів, не всі вони є обов'язковими), які створює конструктор:
        <ul>
            <li>Заголовок звіту;</li> 
            <li>Верхній колонтитул (повторюється на всіх сторінках).</li>
            <li>Заголовок групи (якщо записи групуються за групами).</li>
                <li>Ділянка даних.</li>
                <li>Нижній колонтитул.</li>
                <li>Примітки.</li>
        </ul></p>
        <p>За допомогою елементів керування у звіт можна додавати рисунки, діаграми, кнопки, тощо. <br>
            Примітка. Дані у звіті редагувати не можна!</p>

        
        <br><h2><b>Питання для самоконтролю</b></h2>
        <ol>
            <li>Що таке форма?</li>
            <li>Для чого призначені форми?</li>
            <li>Які способи створення форм вам відомі?</li>
            <li>Як створити форму за допомогою майстра форм?</li>
            <li>Як створити форму за допомогою кoнструктора форм?</li>
            <li>Які автоформи можна створити? </li>
            <li>Що таке звіт?</li>
            <li>Для чого призначені звіти?</li>
            <li>Які способи створення звітів?</li>
            <li>Які автозвіти можна створити? </li> 
        </ol>
    </div>
</div>
</div>
