{% load static %}

<div class="container">
    <div class="block">
        <div class="intro_content">
        <p><h2><b>Тема</b></h2>Практична робота: "ВПОРЯДКУВАННЯ, ПОШУК ТА ФІЛЬТРУВАННЯ БАЗИ ДАНИХ"</p>
        <br><p><h2><b>Мета</b></h2>Навчити виконувати операції з основними об'єктами БД, 
            фільтрувати та впорядковувати дані в базі даних, організовувати пошук потрібної інформації в базі даних. 
            Розвивати навики роботи з фільтрами, пошуковоми програмами в СУБД Access. 
            Виховувати свідоме ставлення до інформатики.</p>

        <br><h2><b>Завдання</b></h2><br>
        <p>Посортувати та вибрати з табличної бази даних "Шкільні друзі",
             база даних була створена і збережена на диску (див.Заняття 3), записи учнів, які задовольняють деякому критерію, 
             застосувавши фільтри. Переписати у зошит номери знайдених записів.</p>

        <br><h2><b>Хід роботи</b></h2><br>
        <p><ol>
            <li>Запустіть програму Access і відкрийте БД, що містить таблицю "Шкільні друзі".</li>
            <li>Розгляньте таблицю і зробіть у ній зміни. Якщо у таблиці немає відмінників, то зробіть так щоб вони були, а також учні, які вчаться на "10", "11" з усіх предметів.</li>
            <li>Знайдіть на панелі інструментів кнопки для роботи з фільтрами, кнопку пошуку (у вигляді бінокля) та кнопки для сортування.</li>
            <li>Застосуйте команду Поиск, використавши відповідну кнопку, для пошуку записів учнів, які мають "11" з математики. Для цього розташуйте курсор у полі з першою оцінкою "11" з математики і клацніть на кнопці Поиск. Клацайте на кнопку Найти далее доки не вичерпаються записи в базі даних.</li>
            <li>Виведіть на екран (відфільтруйте) записи про учнів, які мають з метематики оцінку "11". Для цього виберіть потрібне поле (клацніть мишею у будь-якому полі з оцінкою "11" з математики будь-якого учня) і натисніть на кнопку Фильтр по выделеному. Перепишіть номери записів у зошит.</li>
            <li>Відновіть вигляд таблиці, натиснувши на кнопку Удалить фильтр.</li>
            <li>Відфільтруйте записи про учнів, що не мають "3" з математики. Для цього виберіть поле з оцінкою "3" з математики і виконайте команду Исключить выделеное. Якщо немає такої кнопки, то викличте контексне меню цієї клітинки і виберіть у списку: Исключить выделеное. Вилучіть фільтр. </li>
            <li>Відфільтрйти записи про учнів, які мають з матаматики та фізики "10". Для цього виконайте команду Изменить фильтр. Задайте оцінки ("10" і "10") у полях умов для математики і фізики. Засторсуйте фільтр. Перепишіть номери записів у зошит. Вилучіть фільтр.</li>
            <li>Відфільтруйте записи про учнів, які мають з математики або фізики "11". Для цього виконайте команду Разширенный фильтр з меню. У конструкторі фільтра клацніть у першому рядку Поля і зафіксуйте назви полів ПРІЗВИЩЕ, МАТЕМАТИКА, ФІЗИКА. Задайти оцінки в полях умов для математики (11) і фізики (11) у різних рядках. Застосуйте фільтр, клацнувши на відпоівдній кнопці. Перепишіть номери у зошит. Чи впорядкований знайдений список учнів за алфавітом?</li> 
            <li>Упорядкуйте у пункті №9 список учнів за алфавітом. Для цього виконайте команду Разширенный фильтр з меню - отримаєте попередній фільтр. Для поля ПРІЗВИЩЕ клацніть у рядку Сортировка і виберіть вид впорядкування По возростанию. Застосуйте фільтр. Перепишіть послідоаність номерів у зошит. Виличіть фільтр.</li>
            <li>Впорядкуйте список учнів по полю ДАТА. Для цього перей діть у поле ДАТА і натисніть на панелі інструментів кнопку Сортировка по возростанию. Відсортуйте отриману таблицю по полю ІМ'Я в зворотному порядку. Перепишіть номери у зошит. </li>
            <li>Закрийте базу даних, зберігаючи її на диску, і закінчіть роботу.</li>
        </ol></p>
    </div>
</div>
</div>
