{% load static %}

<div class="container">
    <div class="block">
        <div class="intro_content">
        <p><h2><b>Тема</b></h2>Типи зв'язку в таблицях. Ключові поля. Створення зв'язків між елементами таблиці.</p>
        <br><p><h2><b>Мета</b></h2>Сформувати поняття зв'язку між таблицями та поняття ключоваго поля, встановлення зв'язків між даними 
            в таблицях через ключові поля. Розвивати навики роботи з майстором підстановок. 
            Виховувати свідоме ставлення до інформатики.</p>
        
        <br><h2><b>Теоретичні відомості</b></h2><br>
        
        <h2><b>Типи зв'язку в таблицях. Ключові поля.</b></h2>
        <p>Коли розроблялись СУБД перших поколінь, комп'ютори мали ще малі об'ми пам'яті. Питання раціонального використання пам'яті було тоді дуже актуальним. Особливо гострою ця проблема була для збереження баз даних великих об'ємів, у яких дані часто дублювалися. 
            Дублювання даних є причиною нераціонального використання пам'яті копм'юмера. Прагнення розв'язати цю проблему привело до розробки процедури нормалізації. Нормалізація дозволила виклбчити дублювання даних. 
            Хоча питання економії пам'яті зараз не стоїть так гостро, як раніше, все-таки процедура нормалізації є необхідною. Нормалізація необхідна зараз для того, щоб організувати дані таким чином, шоб їх редагування робилося тільки в одному місті бази даних. Нормалізація передбачає виконання процедури зв'язування таблиць бази даних.<br>
            Суть установлення зв'язку між двома таблицями даних полягає у тому, що значення стовпця (чи стовпців) першої таблиці (джерела) вміщується в другу таблицю.<br>
            Реляційна база даних (див. урок перший) характеризується поданням даних у вигляді декількох таблиць і зв'язками між ними. Саме встановлення і види цих зв'язків ми розглянемо.</p><br>

        <p>Для того, щоб встановити зв'язок між таблицями необхідно встановити зв'язок між тими полями, в яких знаходиться загальна інформація. 
            Необов'язково, щоб поля мали одинакові назви, типи і довжину. Як правило, зв'язки між таблицями встановлюються зв'язуванням ключових полів таблиць: 
            первичним ключовим полем таблиці-джерела і зовнішнім ключовим полем другої таблиці. Кожна таблиця повинна містити первичний ключ - одне чи кілька полів, 
            вміст яких вказаний для кожного запису. Ці ключові поля повинні задовільняти таку вимогу: для кожного запису ключове поле має своє унікальне значення, що не повторюється в інших полях. В теорії баз даних це називається цілісністю даних.<br>
            Примітка. Access завжди пропонує задати ключове поле типу Счетчик. Але в Access 2007 поле даних цього типу неможна використовувати для забезпечення цілісності даних.<br>
            Зазвичай, кожна таблиця має унікальне поле чи комбінацію полів (під час розробки бази даних передбачать створення ключових полів). 
            Ключове поле задається на етапі створення структури бази даних за допомогою Конструктора. Якщо викликати контексне меню рядка (в конструкторі), 
            що відповідає запланованому ключовому полю, та вибрати в списку Ключевое поле (із зображенням ключа), то навпроти цього поля з'явиться ключ.</p>

        <div class="img_content small">
            <img src="{% static 'access/img/image11.png' %}" alt="Alt" class="img_exc">
        </div>

        <p>Таким чином задане поле матиме необхідні властивості, а також деякі перваги:
            <ul>
                <li>поле являє собою індекс, який значно прискорює виконання запросів, пошук та сортування;</li>
                <li>при вводі даних Access прослідкує че було введене допустиме значення для поточного запису;</li>
                <li>при добавлення нових записів Access прослідкує чи недублюються значення поля;</li>
                <li>по замовчуванню Access відсортує звписи по ключовому полі.</li>
            </ul>
            Примітка. Ключові поля повинні бути якомога коротшими, бо розміри впливають на швидкість роботи із даними.
            Ми розглянили первичні ключові поля. На відміну від первичного ключа, який створюється особливим способом, 
            зовнішній ключ може бути будь-яким полем використаним для створення зв'язку.</p><br>

        <p>Таким чином маючи ключові поля можна створити зв'язок між таблицями. Система Access дозволяє встановити зв'язки таких типів:</p><br>
            <ul>
                <li>один-до-одного.</li>
                <p>Зв'язок один-до-однго рідко використовується в базах даних. Він дозволяє зв'язати один запис першої таблиці із одним записом другої таблиці.</p><br>
                <li>один-до-багатьох.</li>
                <p>Зв'язок один-до-багатьох використовується для встановлення зв'язку між одним записом першої таблиці з кількома записами другої таблиці.</p><br>
                <li>багато-до-одного.</li>
                <p>Зв'язок багато-до-одного вказує Access, що кілька записів одної таблиці зв'язані із однм записом другої таблиці. Зв'язок багато-до-одного можна перетворити у зв'язок один-до-багатьох.</p><br>
                <li>багато-до-багатьох.</li>
                <p>Зв'язок багато-до-багатьох на перший погляд незрозумілий. Але цей зв'язок утворює пара зв'зків один-до-багатьох.</p>
            </ul><br>

        <p>Зв'язки між таблицями дуже важливі, оскільки вони вказують Access як знаходить і розміщувати інформацію із полів двох чи більше таблиць. 
             Програмі необхідно знати, що потрібно шукати: один запис в таблиці чи кілька записів на основі зв'язку між таблицями.</p>

        <br><h2><b>Створення зв'язків між елементами таблиці.</b></h2><br>
        <p>Зв'язки на рівні таблиць можна створити за допомогою Конструктора связей. 
                В разі необхідності зв'язки розривають. Для звичайного вводу та виводу даних вони дуже зручні. 
                В системі Access вбудовані потужні візуальні засоби створення за'язків. 
                Вони дозволяють добавляти та визначати тип зв'язку, встановлювати параметри у цілісності даних по методу перетягнути і опустити.<br>
                Зв'язки встановлюються в вікні бази даних. Виберіть команду Робота с базами даных -> Схема данных. 
                При цьому появиться вікно Схема данных, яке дозволить створити зв'язки між таблицями.</p>

        <div class="img_content">
            <img src="{% static 'access/img/image12.png' %}" alt="Alt" class="img_exc">
        </div>
        <p>Зверніть увагу на те, що з вікном Схема данных зв'язана панель інструментів.</p><br>
        <p>Добавляти таблиці можна так:</p>
        <ul>
            <li>Використовуйте вікно Добавление таблицы, що відкривається автоматично, якщо вікно Схема данных для бази відкрита вперше.</li>
            <li>Клацніть на кнопці Добавить таблицу панелі інструментів.</li>
            <li>Використайте команду Связи -> Показать таблицу.</li>
            <li>Викличте контексне меню вікна Схема данных і виберіть Добавить таблицу.</li>
        </ul>

        <p>Після добавлення таблиць в вікно Схема данных, можна утворити зв'язки між таблицями. Для цього виконайте наступні діїї:<br>
            - виберіть ключове поле однієї із таблиці; - мишкою перетягуйте і розмістіть вибране поле в поле другої таблиці (тієї яку ви хочете зв'зати із першою). 
            Access при цьому відкриє діалогове вікно Изменение связей:</p>

        <div class="img_content small">
            <img src="{% static 'access/img/image13.png' %}" alt="Alt" class="img_exc">
        </div>
        
        <p>- Клацніть на кнопці Создать діалогового вікна Изменение связей для встановлення зв'зку. 
            Access закриє діалогове вікно Изменение связей і намалює лінію, що зє'днує таблиці.</p>
        
        <div class="img_content">
            <img src="{% static 'access/img/image14.png' %}" alt="Alt" class="img_exc">
        </div>

        <p>В діалоговому вікну Изменение связей є декілька параметрів. 
            Вцьому вікні міститься інформація про поля зв'заних таблиць, параметри цілісності даних і тип зв'язку. 
            Діалогове вікно відображає зв'язані поля під іменами таблиці. Переконайтесь, що в обох таблицях зв'язки встановлені правильно. 
            Якщо порядок зв'язку таблиць вказаний неправильно, клацніть по кнопці Отмена і післья цього можна знову встановити зв'язок. 
            Якщо поле в одній із таблиць вибрано неправильно, то виберіть необхідне поле і списку під іменем таблиці.<br> 
            Після створення зв'язку і перевірки правильності, можна включити підтримку цілісності даних за допомогою опції Обеспечение целосности даных. 
            Після ввімкнення цієї опції Access дозволить ввімкнути опцію Каскадное обновление связанных полей. 
            Ввімкнення даної опції дає можливість змінювати вміст первичного ключового поля. 
            Якщо користувач змінює ключове поле в первичній таблиці, то Access провіряє коректність введеного зачення і зміює значення відповідних полів у всіх зв'язаних таблицях. 
            При відключеній опції Каскадное обновление связанных полей змінити значення ключового поля первичної таблиці неможливо 
            (якщо ключове поле має зв'язки між кількома полями, то для правильної роботи цю опцію необхідно включити для всіх зв'язаних таблиць).</p><br>
        
        <p>Для того щоб зберегти встановлені зв'язки потрібно клацнути на кнопці Сохранить панелі інструментів. 
            Другий метод - збарегти при закриванні вікна Изменение связей.</p><br>

        <p>Зв'язок між таблицями Access відображає у вигляді тонкої лінії, яка з'єднує одну таблицю із другою. Лінії, 
            що позначають зв'язки з забезпеченням цілісності даних, мають більш товсті закінчення із символами "1" і "оо".</p>

        <br><h2><b>Здійснювати встановлення зв'язків між таблицями можна за допомогою Мастера подстановок.</b></h2><br>
        <p>Розглянемо порядок встановлення зв'язків за допомогою Мастера подстановок. 
            Для того, щоб створити зв'язки між таблицями необхідно виконати наступні дії:</p>
        
        <p>- У вікні бази даних відкриваємо структуру первичної таблиці за допомогою конструктора;<br>
            - У цій структурі створюємо ще одне поле, з будь-яким ім'ям; - Відкриваємо значення Тип даных, де останнім є рядок Мастер подстановок;</p>
        

        <div class="img_content">
            <img src="{% static 'access/img/image15.png' %}" alt="Alt" class="img_exc">
        </div>

        <p>- Після активізації програми Мастер подстановок на екрані відкривається вікно цієї програми.</p>

        <div class="img_content">
            <img src="{% static 'access/img/image16.png' %}" alt="Alt" class="img_exc">
        </div>

        <p>У цьому вікні перемикач необхідно установити у положення Таблица или запрос... і після цього натиснути кнопку Далее. 
           У результаті останньої дії у вікні Мастер подстановок з'явиться нова інфорамація:</p>

        <div class="img_content">
            <img src="{% static 'access/img/image17.png' %}" alt="Alt" class="img_exc">
        </div>

        <p>У цьому вікні будуть показані всі таблиці за вийнятком тієї, в яку буде зроблена підстановка.<br>
            - Вибираємо таблицю, з якою буде встановлено зв'язок, і натискаємо кнопку Далее. Вміст вікна Мастер подстановок зміниться і набере вигляд:</p>

        <div class="img_content">
            <img src="{% static 'access/img/image18.png' %}" alt="Alt" class="img_exc">
        </div>

        <p>У вікні ліворуч розташовані доступні поля таблиці з якою ми хочемо встановити зв'язок. 
            Необхідно виділити те поле, над яким здійснюється операції підстановки. Кнопкою одинарна стрілка праворуч це поле переноситься праворуч, 
            де написано - Вибранные поля. Кнопка одинарна стрілка ліворуч це поле повертається у лівий список. Така необхідність виникає, коли була допущена помилка. 
            Кнопкою подвійна стрілка праворуч переносяться всі поля праворуч, а кнопка подвійна стрілка ліворуч переносяться всі поля справа наліво.<br>
            - Після переносу потрібного поля необхідно натиснути кнопку Далее. Вміст вікна Мастер подстановок зміниться і набере вигляд:</p>

        <div class="img_content">
            <img src="{% static 'access/img/image19.png' %}" alt="Alt" class="img_exc">
        </div>

        <p>У цьому вікні можна відсортувати елементи списку. Далі натискають кнопку Далее.<br>
            Вікномайстра підстановок набере тепер вигляду:</p>

        <div class="img_content">
            <img src="{% static 'access/img/image20.png' %}" alt="Alt" class="img_exc">
        </div>

        <p>У цьому вікні потрібно задати підпис для стовпця підстановки. Можна залишити те ж саме слово (ім'я поля першої таблиці). І натиснути кнопку Готово. 
            Після цього з'явиться вікно Создание подстановки у якому необхідно підтвердити збереження таблиці, тобто натиснути кнопку Да.<br>
            У результаті виконаних дій з'явиться вікно конструктора.</p>
        
        <div class="img_content">
            <img src="{% static 'access/img/image21.png' %}" alt="Alt" class="img_exc">
        </div>

        <p>Зверніть увагу на те, що у вихідній таблиці з'явиться поле не із ім'ям введеним на початку, 
            а поле другої таблиці, тієї з якою ми встановили зв'язок.</p>
        
        <br><h2><b>Питання для самоконтролю</b></h2>
        <ol>
            <li>Що таке ключове поле?</li>
            <li>Для чого призначене ключове поле?</li>
            <li>Які властивості має ключове поле?</li>
            <li>Для чого встановлюють зв'язки між таблицями?</li>
            <li>Які способи встановлення зв'язків у Access?</li>
            <li>Що таке зв'язок один-до-одного?</li>
            <li>Що таке зв'язок один-до-багатьох?</li>
            <li>Що таке зв'язок багато-до-одного? </li>
            <li>Що таке зв'язок багато-до-багатьох? </li>
            <li>Як встановити зв'язок за допомогою конструктора зв'язків?</li>
            <li>Як встановити зв'язок за допомогою майстра підстановок?</li>
            <li>Як побачити структуру встановлених зв'язків?</li>
            <li>Як видалити зв'язок?</li>
            <li>Як змінити встановлені зв'язки?</li>
        </ol>
    </div>
</div>
</div>

