{% load static %}

<div class="container">
    <div class="block">
        <div class="intro_content">
<p><h2><b>Тема</b></h2>Проектування БД. Створення структури таблиці реляційної бази даних.
    Типи даних, які використовуються в БД. Введення та редагування даних. Різні способи створення таблиць.</p>
<br><p><h2><b>Мета</b></h2>Спирияти вивченню правил проектування баз даних.
    Забезпечити різними способами введення та редагування даних.
    Ознайомити з типами даних, що використовуються у базі даних Access. Розглянути різні способи створення таблиць.
    Розвивати навики роботи з таблицями. Виховувати свідоме ставлення до інформатики.</p>
<br><h2><b>Теоретичні відомості</b></h2><br>

<h2><b>Проектування бази даних. Створення структури таблиці реляційної бази даних.</b></h2>
<p>Робота з базою даних складається з двох основних етапів: створення бази даних та її використання.
   Створення починається зі створення структури запису.
   Створити структуру запису означає: визначити кількість і тип, надати назви та описати властивості всіх його полів. 
   На початковому етапі роботи з базами даних процес їх створення потрібно починати з підготовчого етапу, а саме: з побудови на папері структури таблиці.</p>
<br><h2><b>Приклад. Створити реляційну базу даних на тему "Шкільні друзі".</b></h2><br>
<p>Розв'язання. Структура запису буде такою: прізвище, ім'я, дата народження, номер телефону, домашня адреса.
   Отже полів є п'ять. Назви полів випливають зі змісту задачі: ПРІЗВИЩЕ, ІМ'Я, ДАТА, ТЕЛЕФОН, АДРЕСА.
   Визначимо типи полів і їх властивість - довжину, тобто максимальну кількість символів, потрібних для зберігання даних.
   Вважатимемо, що поле з назвою ПРІЗВИЩЕ містить текстове дане (прізвище учня) довжиною до 15 символів включно,
   поле ІМ'Я - текстове дане довжиною до 12 символів, поле ДАТА містить дату в формі місяць/день/рік стандартної довжини - 8 символів, поле ТЕЛЕФОН - ціле число до 7 цифр, а поле АДРЕСА - текст з адресою учня довжиною до 38 символів.</p>

<p>Структура записів базі даних "Шкільні друзі"<table>
    <tbody><tr><th>Прізвище </th>
    <th>Ім'я</th>
    <th>Дата</th>
    <th>Телефон</th>
    <th>Адреса</th>
    </tr>
    <tr>
    <th>Прізвище 1 </th>
    <th>Ім'я 1</th>
    <th>Дата 1</th>
    <th>Телефон 1</th>
    <th>Адреса 1</th>
    
    </tr><tr>
    <th>Прізвище 2</th>
    <th>Ім'я 2</th>
    <th>Дата 2</th>
    <th>Телефон 2</th>
    <th>Адреса 2</th>
    </tr>
    <tr>
    <th>Прізвище 3</th>
    <th>Ім'я 3</th>
    <th>Дата 3</th>
    <th>Телефон 3</th>
    <th>Адреса 3</th>
    </tr>
    <tr>
    <th>Прізвище 4</th>
    <th>Ім'я 4</th>
    <th>Дата 4</th>
    <th>Телефон 4</th>
    <th>Адреса 4</th>
    </tr>
    <tr>
    <th>Прізвище 5</th>
    <th>Ім'я 5</th>
    <th>Дата 5</th>
    <th>Телефон 5</th>
    <th>Адреса 5</th>
    </tr>
    </tbody></table></p>
<p>Тут рядок таблиці відповідає запису у файлі даних, а стовпчик полю.
   Таким чином маємо створену структуру таблиці бази даних.</p><br>
<h2><b>Типи даних, які використовуються в БД.</b></h2><br>
<p>Для створення бази даних в попередньому прикладі ми визначали тип даних (текстовий, числовий, дата і тд.).
   Програма MS Access дає змогу опрацювувати дані таких основних типів: текстові, числові, дати, МЕМО 
   (меморандум, великий текст), грошові, лічильник, логічні, гіперпосилання (адреси, що вказують на файли), об'єкти OLE (графічні зображення).</p><br>
<p>Приклад. Спроектуємо запис, який складається з дев'яти різних типів. Нехай потрібно створити базу даних з відомостями про співробітників деякої фірми.
   Запис про кожну особу має містити такі дані: прізвище, номер телефону, дату народження, інформацію про хобі, оклад, 
   списковий номер, чи є нема нагород, фотографію.</p>

<p><table>
    
    <tbody><tr><th><u>Назва поля</u></th>
    <th><u>Тип поля </u></th>
    <th><u>Значення поля</th>
    </tr>
    <tr>
    <th>Прізвище</th>
    <th>Текстовий</th>
    <th>Артист</th>
    
    </tr><tr>
    <th>Телефон</th>
    <th>Числовий</th>
    <th>972216</th>
    </tr>
    <tr>
    <th>Дата нарлодження</th>
    <th>Дата</th>
    <th>12/24/80</th>
    </tr>
    <tr>
    <th>Меморандум</th>
    <th>МЕМО</th>
    <th>текст про хобі</th>
    </tr>
    <tr>
    <th>Оклад</th>
    <th>Грошовий</th>
    <th>250 грн.</th>
    </tr>
    <tr>
    <th>Номер у списку</th>
    <th>Лічильник</th>
    <th>1</th>
    </tr>
    <tr>
    <th>Нагороди</th>
    <th>Логічний</th>
    <th>Так</th>
    </tr>
    <tr>
    <th>Біографія</th>
    <th>Гіперпосилання</th>
    <th>текстовий файл</th>
    </tr>
    <tr>
    <th>Фотографія</th>
    <th>Об'єкт OLE</th>
    <th>графічний файл</th>
    </tr>
    </tbody></table></p>

<p>Таким чином, занаючи структуру, типи даних, можна реалізувати базу даних в MS ACCESS.</p><br>
<h2><b>Різні способи створення таблиць в СУБД Access</b></h2><br>
<p>Cтворити нову базу даних можна через меню Access: Файл -> Создать ->... 
   (крім головного меню, на екрані ще є панель інструментів, які дублюють деякі операції меню, наприклад, 
   створення бази даних), або через стандартне меню Windows. Робота у головному меню СУБД Access здійснюється 
   відповідно до загальних правил роботи у системі Windows.</p><br>
<p>Ми розглянемо створення таким чином: Запускаємо Систему Access і у вікні запрошення (див. Заняття 1) 
   встановлюємо перемикач у положення Новая база даных. Потім натискаємо кнопку ОК. 
   У результаті на екрані з'являється вікно файл новой базы даных. Тут потрібно вибрати місце розташування на диску 
   (по замовчуванню папка Мои документы) та ввести ім'я нової бази даних і натиснути кнопку Создать.</p><br>
<p>У результаті відкривається нова база даних в Режиме таблиц.</p>

<div class="img_content">
    <img src="{% static 'access/img/image03.png' %}" alt="Alt" class="img_exc img_exc_big">
</div>

<p>У лівому верньому кутку можна вибати способи створення таблиць, натиснуши на пункт Режим, де перероховані такі режими: Режим таблиці, Зведена таблиця, Зведена діаграма, Конструктор.</p>

<div class="img_content">
    <img src="{% static 'access/img/image05.png' %}" alt="Alt" class="img_exc img_exc_big">
</div>

<p>Спосіб Зведена таблиця це інтерактивна таблиця, у якій можна швидко поєднати та порівняти великий обсяг даних. 
    У ній можна повернути рядки та стовпці для перегляду різних зведень джерел даних і відображення відомостей для областей інтересів. 
    Використовуйте зведену таблицю для аналізу пов’язаних підсумків, особливо в разі наявності довгого списку цифр, які необхідно підсумувати, і коли потрібно порівняти кілька фактів щодо кожної цифри.<br><br>
    Спосіб Зведена діаграма служить для наочного графічного уявлення, що аналізується, полегшуючи для користувачів порівняння і виявлення тенденцій і закономірностей в даних.<br><br>
    Спосіб Конструктор найзручніший, особливо на етапі початкового вивчення СУБД Access. Коли вибираємо опцію Конструктор. На екрані з'являється вікно таблиці у режимі конструктора:</p>

<div class="img_content">
    <img src="{% static 'access/img/image04.png' %}" alt="Alt" class="img_exc img_exc_big">
</div>

<p>Заповнюємо таблицю даними. Для установки розміру поля необхідно підвести курсор миші в рядок Размер поля, клацнути клавішею миші, потім установити потрібний розмір поля і натиснути Enter.
   Після заповнення таблиці необхідно виділити ключове поле. Для цього клавішами переміщення курсора вказівка перемішується у відповідне поле, потім курсор миші необхідно перевести на кнопку 
   Ключовое поле і клацнути клавішею миші. При цьому порядку з іменем цього поля з'явиться зображення ключа.
   У лівому верхньому куті вікна таблиці поряд з написом Таблица 1 є світлий прямокутник. Його називають значком таблиці.
   При фіксації курсора миші на ньому з'являється контексне меню таблиці, у якому є команда закрыть. Після виконання цієї команди з'явиться запит чи зберегти структуру таблиці? Да. 
   Слідом за ним буде видано повідомлення про необхідність збередення таблиці. У ньому можна набрати конкретне ім'я таблиці і натиснути кнопку ОК.</p>

<br><h2><b>Введення та редагування даних в СУБД Access</b></h2><br>

<p>Перед створенням таблиці користувач повинен створити її структуру, тобто описати всі поля.</p>
<p>Таким чином користувач задає:
    <ol>
        <li>назви полів методом введення назви з клавіатури;</li>
        <li>тип даних методом вибору типу із запропонованого списку;</li>
        <li>описи полів, які є необов'язковими;</li>
        <li>додаткові властивості, методом заповнення таблиці властивостей:</li>
        <ul>
            <li>довжину поля;</li>
            <li>формат поля;</li>
            <li>значення по замовчуванню;</li>
            <li>умови на значення, яке вводитимуть;</li>
            <li>повідомлення про помилку тощо.</li>
        </ul>
    </ol>
</p><br>
<p>Створену структуру можна модифікувати (змінити). У раніше створену структуру можна вставити нове поле: 
    контексне меню поля, перед яким будемо вставляти нове поле і потім вибираємо Вставить столбец; 
    для того щоб видалити поле викликаємо його контексне меню і Удалить столбец. Також можна добавити чи знищити запис, 
    через контексне меню запису. Команди вставки та видалення поля і запису містить головне меню Access 
    Вставка -> Столбец та Вставка -> Запись для вставки стовпця (поля) чи запису; та пункт Правка -> Удалить столбец і Правка 
    -> Удалить запись для знищення поля чи запису.
    Після створення структури таблиці її необхідно зберегти! Для того, щоб ввести дані в таблицю, необхідно відкрити таблицю в Режиме таблиці з головного вікна бази даних так: 
    у вікні База даных вибираємо назву таблиці і натискаємо кнопку Открыть.
    Дані в таблицю вводяться звичайно з клавіатури. На цьому створення бази даних закінчується. 
    Створену базу даних потрібно зберергти на диску в файлі командою головного меню Файл -> Сохранить как.... 
    Розширення такого файлу буде *.mbd. Надалі суттєво не плутати назву всього файлу БД із назвами таблиць, які вній є.</p>

<br><h2><b>Питання для самоконтролю</b></h2></b>
<ol>
    <li>Що таке поле?</li>
    <li>Чим характеризується поле?</li>
    <li>Що таке запис?</li>
    <li>З чого складається запис запис?</li>
    <li>Які типи може опрацьовувати СУБД Access?</li>
    <li>Які способи створення таблиць існують у СУБД Access</li> 
    <li>Що таке Конструктор таблиць?</li>
    <li>Що таке Майстер таблиць?</li>
    <li> Які ви знаєте способи модифікації таблиці?</li>
    <li>Як зберегти базу даних на диску?</li>
    <li>Яка різниця між файлом БД і таблицями?</li>
</ol>
</div>
</div>
</div>
