{% load static %}

<div class="container">
    <div class="block">
        <div class="intro_content">
        <p><h2><b>Тема</b></h2>Запити. Призначення. Різниця запитів і фільтрів. 
            Створення простих запитів. Запити з параметрами. Перехресні запити. Запити на зміну даних.</p>
        <br><p><h2><b>Мета</b></h2>Вивчити поняття запити та їх призначення, фільтрування та пошук даних за допомогою запитів. 
            Навчити виконувати прості та складені запити. Розвивати навики роботи із запитами. 
            Виховувати свідоме ставлення до інформатики.</p>
        
        <br><h2><b>Теоретичні відомості</b></h2><br>
        
        <h2><b>Запити. Призначення. Різниця запитів і фільтрів.</b></h2>
        <p><h2><b>Запит</b></h2>Це засіб відшукання потрібних записів, перетворення таблиць і створення на їх основі нових таблиць. Запит у системі Access використовують для пошуку з однієї чи кількох таблиць та видачі на екран даних, які відповідають умові, визначеній користувачем.<br>
            Існує багато різних типів запитів, які можна розділити на п'ять категорій.<br><br>
            <h2><b>Запит на вибірку</b></h2>
            Один із найбільш розповсюджених тип запитів. Вибирає записи із однієї чи декількох таблиць, і результати відображає в об'єкті в режимі таблиці, у якому допускається редагування записів (з деякими обмеженнями). Крім того, використовується для групування записів, а також для здійснення обчислень. 
            <br><br><h2><b>Запит з параметрами</b></h2>
            Це запти при запуску якого відкривається діалогове вікно з запрошенням ввести певні відомості, наприклад, умови відбору записів. Допускається створення запитів, в яких відкриваються декілька діалогових вікон для введення різних умов, наприклад, двох дат. Після цього здійснюється відбір дат, що попали в цей діапазон.Ці записи зручно використовувати як базове джерело для форм і звітів.
            <br><br><h2><b>Перехресні запити</b></h2>
            Відображають результати статистичних розрахунків (таких, як суми, кількість записів і середнє значення), виконаним по диним одного поля. Ці результати групуються по двох наборам даних в форматі перехресної таблиці. Перший набір вивобиться в стовпці зліва и утворює заголовки рядків, а другий набір виводиться в верхньому рядку і утворює заголовки стовпців.
            <br><br><h2><b>SQL-запит</b></h2>
            Це запит створений з допомогою інструкцій SQL.
            <br><br><h2><b>Запит на зміну даних</b></h2>
            Це запит, який дозволяє, виконавши одну операцію, внеси зміни у багато записів. Існує чотири типи запитів на зміну: на створення таблиці; на знищення зиписів; на додавання записів у таблицю; на оновлення записів у таблиці.<br>
            Запити достатньо гнучкі і дозволяють продивлятися дані, як зручно користувачу. Ось що можна зробити за допомогою запитів:
            <ul>
                <li>Ви можете отримувати інформацію із однієї чи декількох таблиць, зв'язвними спільними даними.</li>
                <li>Можна задавати поля із кожної таблиці, які ви хочете бачити в результуючому наборі даних.</li>
                <li>Ви можете вибирати записи для відображення їх в результуючому наборі даних за певним критерієм.</li>
                <li>Можна продивтися результуючий набір даних, відсортований певним чином.</li>
                <li>Запити можна використовувати для проведення обчислень над даними.</li>
                <li>Ви можете створювати нові таблиці, які складатимуться на основі результуючих даних, вибраних за допомогою запиту.</li>
                <li>Якщо в вашому результуючому наборі даних містяться поля і дані, які являються основою вашого звіту чи форми, то кожен раз при роздруковуванні звіту чи відкритті форми, запит буде отримувати найсвіжішу інформаію.</li>
                <li>На основі даних запиту можна смтворювати діаграми, а потім використовувати їх в формі чи звіті.</li>
                <li>Ви можете створювати додаткові запити на основі результуючого набору даних попереднього запиту. </li>
                <li>Запити в Access дозволяють отримувати информацію із різних джерел. Ви можете запросити інформацію із баз даних dBASE, Paradox, Btrieve, Microsoft SQL Server.</li>
            </ul>
        </p>

        <p>При виконанні запиту Access отримує дані і формує результуючий набір даних. 
            Він має вигляд таблиці, хоч не є нею. Результуючий набір даних являється динамічним (віртуальним) набором записів і не зберігається в базі даних. 
            Після закриття запиту результуючий набір даних перестає існувати. Хоч динамічний набір даних не існує, 
            але пам'ятайте, що дані, які в ньому були, залишаються в базових таблицях.<br> 
            Таким чином із вище сказаного випливає, що запити відрізняються від фільтрів значно ширшими можливостями і результатом роботи: 
            після фільтрування ми отримуємо ту ж таблицю, але із потрібними записами, а при виконанні запитів утворюється новий об'єкт: 
            результуючий набір даних. А також результуючий набір даних, отриманий при виконанні запиту втрачається, якщо його не зберегти; 
            тому запитам користувач дає назви і зберігає їх на закладці Запросы головного вікна БД, що не можна сказати про фільтр. 
            В подальшому ви повинні розрізняти запит і фільтр (вище перераховані можливості запиту легко дають відповідь на питанні про відмінність фільтра і запиту).</p>

        <br><h2><b>Створення запиту на вибірку в режимі Конструктор</b></h2><br>
        <p>Запити на вибірку створюються двома основними способами: за допомогою конструктора запитів і майстри запитів. 
        Незалежно від того, який із способів використовується, для створення запиту на вибірку необхідно виконати кілька стандартних дій.</p><br>
        <ol>
            <li>Спочатку потрібно вибрати джерело записів для запиту. Джерелом записів можуть бути одна або декілька таблиць, один або декілька запитів або поєднання цих елементів.</li>
            <li>У джерелі записів слід вибрати нуля, які повинні бути включені в запит.</li>
            <li>Додати в запити умови сортування, фільтрації та інші умови відбору.</li>
        </ol><br>

        <p>При виконанні запиту на вибірку MS Access виводить результати в таблицю. Результат роботи запиту називається набором записів, 
            і з ними можна працювати точно так само, як з таблицею. Наприклад, можна додавати і змінювати дані, 
            і неї внесені зміни будуть збережені в таблицях, які послужили джерелом записів для запиту. Крім того, 
            набір записів може служити джерелом даних для форм, звітів і навіть інших запитів. Розглянемо на прикладі створення запиту в режимі конструктора. 
            Виберіть команду Конструктор запитів в групі Запити на вкладці Створення. Вікно конструктора запитів розділене на дві частини. 
            У верхній частині повинні знаходитися макети таблиць або запитів, на основі яких створюється запит. У нижній частині бланка виконується вся робота по створенню запиту.</p>

        <div class="img_content">
            <img src="{% static 'access/img/image33.png' %}" alt="Alt" class="img_exc">
        </div>

        <p>Щоб помістити таблиці на бланк запиту, скористайтеся діалоговим вікном Додавання таблиці, 
            викликати дане вікно можна в режимі конструктора запиту за допомогою команди Показати таблицю в групі Налаштування запиту на вкладці Робота з запитами.</p>

        <br><h2><b>Запити з параметрами.</b></h2><br>
        <p>Для того, щоб виконати запити з параметрами потрібно запустата конструктор запитів: в головному вікні БД потрібно натиснути кнопку Конструктор. 
            В результаті цих дій відкриється два вікна: Запрос на выборку та Добавление таблицы:</p>


        <div class="img_content">
            <img src="{% static 'access/img/image36.png' %}" alt="Alt" class="img_exc">
        </div>

        <p>У вікні Добавление таблицы вибираємо потрібну таблицю, до якої застосуємо запит, 
            і натискаємо кнопку Добавить. Закриваємо це вікно, активним стає вікно Запрос на выборку. 
            Потім в головному меню вибираємо пункт Запрос. В ньому є список з різних запитів, 
            а також команда відкривання вікна Добавление таблицы (якщо потрібно). Вибираємо у списку пункт Параметры.... 
            В результаті відкривається вікно Параметры запроса:</p>

        <div class="img_content">
            <img src="{% static 'access/img/image37.png' %}" alt="Alt" class="img_exc">
        </div>
        <p>В цьому вікні можна задавати пораметри запиту, і таким чином здійснювати запит із параметрами. 
            Коли задати параметер і його тип, та у вікні Запрос на выборку задати потрібні поля (аналогічно фільтру), 
            назви таблиць (таблиць може бути багато) і активізувати запит командою Запрос -> Запуск, 
            то Access попросить ввести значення цього параметра (конкретне значення поля):</p>

        <div class="img_content small">
            <img src="{% static 'access/img/image38.png' %}" alt="Alt" class="img_exc">
        </div>

        <p>Задавши кілька пораметрів (полів) система буде запитувати значення кожного поля, 
            і якщо записи задовольнятимуть вказаним параметрам, вони будуть виведені в результаті запуску запиту.</p>

        <br><h2><b>Перехресні запити.</b></h2><br>
        <p>За допомогою перхресних запитів можна здійснювати обчислення. 
            Для створення перехресного запиту можна скористатися конструкторм або в головному вікні БД натиснути кнопку Создать 
            (закладка Запросы), далі натиснути на Мастер запросов і вибрати пункт Перекрестный запрос. 
            При запуску запиту із головного вікна бази даних потрібно здійснити послідовність дій аналогічу запуску простого запиту.</p>

        <div class="img_content small">
            <img src="{% static 'access/img/image39.png' %}" alt="Alt" class="img_exc">
        </div>

        <p>Ми розглянемо створення перехресного запиту за допомогою конструктора:<br>
            Запускаємо конструктор запитів. Вибираємо потрібну таблицю (таблиці). 
            У головному меню вибураємо пункт Запрос, а потім команду Перекрестный. 
            В результаті відкриється вікно Перекрестный запрос:</p>

            <div class="img_content">
                <img src="{% static 'access/img/image35.png' %}" alt="Alt" class="img_exc">
            </div>

        <p>Вікно Перекрестный запрос подібне до вікна фільтра, але має деякі додаткові параметри. 
            Так навпроти Груповая операция можна задавати обчислення максимального, мінімального елемента, суми, 
            середнього значення, першого, отаннього елемента і тд. В рядку Перекрестная таблица потрібно задати заголовки рядків та стовпців, 
            значення. А саме задати одне поле - заголовок стовпців, друге поле - заголовок рядків, і поле значення (для створення перехресної таблиці). 
            Потім запускають запит. Якщо параметри введені неправильно система виведе повідомлення про помилку. Після виправлення помилок потрібно знову запустити запит.<br>
            Рядки для введення умови та вибору сортування заповнюються аналогічно фільтру.</p>

        <br><h2><b>Запити на зміну даних.</b></h2><br>
        <p>Запити на зміну даних дозволяють вносити зміни у таблицю (таблиці). Для створення запитів на зміну відкриємо конструктор запитів. 
            В голвному меню системи виберемо пункт Запрос і натиснути кнопку Обновление - для поновлення записів. 
            Так ми відкрили конструктор для оновлення записів, назва вікна змінилась на Запрос на обновление. 
            Аналогічно фільтру маємо рядки Поле, Імя таблицы (бо може бути кілька таблиць), Обновление, Умови отбора. 
            В рядку Обновление задається нове значення поля, на нього обуде замінене старе значення при виконанні умов. 
            Система попередить про заміну значення і запросить підтвердження. Тому при проведенні заміни потрібно бути уважним, 
            щоб не виникло помилок у базі даних. Умови відбору вводяться аналогічно фільтру.<br>
            Якщо вибрати пункт Запрос і натиснути кнопку Добавление, то відкриється вікно Добавление, 
            в якому потрібнго вибрати базу даних і таблицю та натиснути кнопку Ок. В результаті вікно конструктора змінить назву на Запрос на добавление. 
            З'явиться ще один рядок - Сортировка, а також буде присутній рядок Добавление. Так само вводяться умови додавання і у рядку Добавление записують поля в які здійснюється добавлення записів, а у рядку Поле поля з яких будуть додаватися записи по умові. Ситема також виведе повідомлення про додавання записів і запросить підтвердження.<br>
            Можна створювати іншу таблицю за допомогою команди головного меню Запрос -> Создание таблицы та знищувати записи командою Запрос -> Удаление. Ці операції проводяться так само як і попередні дві (оновлення і добавлення). Формуються умови, по яких здійснюється видалення (створення) і запускається запит на виконання. Access Попередить про здійснення видалення і запросить підтвердження.</p><br>
        
        <p>Після закриття запиту система запитає про збереження. При потребі запит можна зберегти. Доступ до збережених запитів зідійснюється у головному вікні БД (потрібно вибрати лише закладку Запросы).</p>

        
        <br><h2><b>Питання для самоконтролю</b></h2>
        <ol>
            <li>Що таке запит?</li>
            <li>Які основні типи запитів існують?</li>
            <li>Чим відрізняється фільтр від запитів?</li>
            <li>Як запустити простий запит?</li>
            <li>Що оможна обчислити за допомогою простого запиту?</li>
            <li>Як здійснюється запит за параметрами?</li>
            <li>Як здійснюється перехресні запити? </li>
            <li>Які можливості перехресних запитів? </li>
            <li>Як здійснюється запит на зміну даних?</li>
            <li>Для чого призначений запит на доповнення? </li>
            <li>Для чого призначений запит на видалення? </li>
            <li>Для чого призначений запит на оновлення? </li>
            <li>Для чого призначений запит на створення таблиці?</li> 
            <li>Чиможна зберегти запит? Як зберегти запит?</li>
        </ol>
    </div>
</div>
</div>