{% load static %}

<div class="container">
    <div class="block">
        <div class="intro_content">
            <p><b><h2>Тема</h2></b>Бази даних. Фактограіфчні й документальні бази даних. Ієрархічна, мережева, реляційна модель бази даних. Основні об'єкти баз даних. Системи управління базами даних.
                Особливості реляційних баз даних. Знайомство й робота з конкретною базою даних. Пошук інформації в базі даних.</p>
            <br><p><b><h2>Мета</h2></b>Сформувати поняття й призначення баз даних. Дати визначення й призначення СУБД, уявлення про типи моделей баз даних,
                 означення основних об'ктів баз даних, операцій, які можна виконувати з даними. Навчити завантажувти СУБД Access. Виховувати свідоме ставлення до вивчення інформатики. </p>
                 <br><h2><b>Теоретичні відомості</b></h2><br>
                 <h2><b>Бази даних. Фактографічні й документальні бази даних</b></h2>
            <p>У повсякденному житті ми часто користуємось записниками, довідниками, календарями, картотеками, тощо. Операції, пов'язані з опрацюванням виликих обсягів інформації, сьогодні виконують за допомогою комп'юпера і спеціальних програм. Для цього інформацію потрібно зберігати у базі даних. 
                Спочатку для розв'язування кожної задачі використовувалась тільки своя сукупність даних. Скільки було задач - стільки було сукупностей даних, бо дані однієї задачі, як правило, не могли бути використані іншою задачею. Дані, призначені для розв'язування кожної задачі, оформлювали у вигляді так званих наборів даних або файлів даних. Такий метод мав деякі недоліки: надмірне дублювання даних, оформлення даних для кожної програми (заміна даних в одній задачі зумовлює необхіднісь заміни даних в інших задачах). Ці обставини і були першою причиною реалізації вкінці 60-х років баз даних (БД) на комп'ютері.
                Прикладами баз даних є бібліотечні каталоги, записна книжка, класні журнали, телефонний довідник, каталог книг у бібліотеці, анкетні дані про співробітників фірми і т. д. Таким чином, в базах даних дані розроблюються і зберігаються як єдине ціле в інтересах роз'язування всіх задач певної предметної області. Бази даних використовуються в інформаційно пошукових системах, наприклад, електронних довідниках, картотеках, каталогах. В аеропорту або на залізничному вокзалі можна отримати на дисплеї інформацію про вільні місця та розклад руху транспорту. Сьогодні за допомогою комп'ютера можна зробити покупку, невиходячи з дому. Переглядаючи іллюстровану базу даних - електронний каталог, можна вибрати продукти, одяг чи модель автомобіля й організувати через Internet відповідне замовлення, оплату і доставку.
                <b><h2>Означення</h2></b>
                База даних - це розміщена на носіях велика кількість даних однакової структури з конкретної галузі.
                Файл бази даних - це файл, в якому зберігаються дані, які входять в певну базу даних, тобто в певну таблицю. Файли баз даних, наприклад, FoxPro, Dbase, має розширення *.dbf, а файли баз даних Access має розширення *.mdb. 
                Дані у базі повинні бути повними, зрозуміло організованими, зручні у користуванні. Даних може бути багато. Їх регулярно потрібно оновлювати. Тому їх зберігають у зовнішній пам'яті у файлах даних. На екрані комп'ютера дані з файлів можуть подавати у вигляді таблиць. Рядки таблиці називаються записами, а стовпці - полями. 
                Запис містить інформацію про якийсь один об'єкт бази даних, наприклад, інформацію про одну людину, книжку, один рейс тощо. Один запис може складатися з даних різних типів.</p>
            <br><h2><b>Ієрархічна, мережева, реляційна модель бази даних</b></h2>
            <p>Розрізняють три типи баз даних:
                <ol> 
                    <li>реляційні,</li> 
                    <li>ієрархічні,</li>  
                    <li>мережеві.</li> 
                </ol>
            </p>
            <p><b><h2>Ієрархічна</h2></b>
                структура даних виникла першою. Це структура, де будь-який об'єкт може підпорядковуватися багато об'єктів вищого рівня, а йому можуть підпорядкуватися багато об'єктів нижчого рівня.
                Тобто вона являє собою деревоподібну структуру, аналогічно структурі каталогів на диску.
                Для моделювання інформіції за допомогою деревоподібної структури використовуть загальне дерево, в якому кореневий (верхній) вузол має кілька дочірніх вузлів, які в совю чергу, також мають кілька дочірніх вершин.
                Кожна частина дерева, за виключенням кореневої, повинна мати один батьківський вузол. З практичної точки зору, кожен вузол може бути представлений у вигляді якого-небть типу запису, де кожен зв'язок є встроєним показником чи адресом.
                Такий зв'язок між даними називають "один до багатьох". Зручність такої структури полягає в тому, що об'єкти нижнього рівня вже є певним чином погруповані, що суттєво полегшує відшукання потрібних даних у кожній групі. Недолік - в ускладненому переході від одного об'єкта до іншого, якщо вони належать різним групам даних.
                Ієрархічні структури даних можна подати у вигляді декількох таблиць.</p>
                
                <br><p><b><h2>Мережева</h2></b>
                структура даних виникла після ієрархічної. Вона характеризується тим, що будь-який об'єкт одного рівня (одної групи даних) може мати довільні зв'язки з об'єктами іншого рівня.
                Такі зв'язки називаються "один до багатьох". Можна сказати, що термін "мережева" вокористовується для підкреслення того факту, що компоненти цієї структури можуть мати зв'язки у вигляді сітки.
                Мережеві структури даних можна описати у вигляді таблиці, де у першому горизонтальному рядку записують об'єкти одного рівня, а у першому вертикальному - іншого рівня. Така таблиця добре ілюструє зв'язки між об'єктами, але може мати багато порожніх елементів.</p>
                
                <br><p><b><h2>Реляційний</h2></b> тип бази даних сьогодні найбільш поширений. Концепція реляційної бази даних розроблена Е. Ф. Коддом (E .D. Codd) у 1970 р. В основі бази даних лежить математичне поняття відношення (від англ. relatoin).
                Вдношення подається у вигляді декількох таблиць і з'язками між таблицями. Кожне відношення має ім'я і складається з поіменованих атрибутів (стовпців) диних. Кожний рядок диних містить по одному значенню кожного з атрибутів. Тобто для зв'язку між таблицями використовують поле, значення якого не повторюється в різних записах. Це поле називають ключовим. 
                Розглянемо, що дають реляційні зв'язки. Якщо реляційні таблиці мають спільні поля, то зміни в спільному полі в одній тоблиці автоматично відображаються в усіх таблицях. Мета запровадження реляційних зв'язків - мінімізувати дублювання даних і забезпечити можливість опрацьовувати (шукати) дані з декількох таблиць.
                Значна перевага реляційної бази даних полягає у простій логічній структурі, за якою сховані теоретичні знання, що немали СУБД першого покоління (у мережевих та ієрархічних). </p>
                
                <br><h2><b>Системи управління базами даних (СУБД) Access</b></h2>
                <p>Системи управління базами даних - це програми призначені для створення баз даних і пошуку інформації в них.
                    Для створення та використання інформації з баз даних є спеціальні програми: dBase - системи, DateEase, MS Access, FoxPro та інші. 
                    У готові системи бази даних можна вносити зміни. Можна змінити структуру бази даних, вилучивши деяке поле, що стало зайвим; можна ввести нове поле.
                    Можна вносити зміни у конкретні поля.</p>
                
                <br><p>Перерахуємо основні операції, які можна виконати за допомогою СУБД:
                    <ol>
                        <li>створити новий файл бази даних у вигляді таблиці;</li>
                        <li>створити структуру таблиці (тобто структуру записів);</li>
                        <li>увести дані в таблицю;</li>
                        <li>зберегти таблицю на диску;</li>
                        <li>у разі потреби модифікувати (змінити) структуру;</li>
                        <li>доповнити базу  даних записами;</li>
                        <li>вилучити зайві записи;</li>
                        <li>впорядкувати записи за зростанням чи спаданням значень у деякому полі;</li>
                        <li>відшукати записи, що задовольняють деякому критерію за допомогою фільтра чи звернутись до бази даних із запитом;</li>
                        <li>виконати обчислення;</li>
                        <li>подати потрібні дані у вигляді форми чи звіту.</li>

                    </ol>
                </p>
                <p>Ми будемо вивчати як такі операції реалізовують за допомогою програми MS Access.
                   Система управління базами даних Microsoft Acceess входить до складу пакета Microsoft Offise.
                   Розглядати будемо русифіковану версію Access 2007. Вона дозволяє розв'язувати широке коло завдань користувачів без програмування.
                   Це означає, що вона доступна для широкого кола непрофесійних користувачів персональних комп'ютерів.
                   Запуск системи здійснюється з ОС Windows 7 аналогiчно тому, як запускаэться будь-яка інша прикладна програма.
                   Після її завантаження нa екрані дисплея з'яввляється вікно системи, на передньому плані якого знаходиться вікно створення чи відкриття бази даних.</p>
                <div class="img_content">
                    <img src="{% static 'access/img/image01.png' %}" alt="Alt" class="img_exc img_exc_big">
                </div>

                <p>Одна з основних переваг СУБД Access полягає у тому, що вона має прості та зручні засоби обробки кількох таблиць в одній базі даних. Таблиця - це місце зберігання даних. Вана є основним об'єктом бази даних.
                    У системі Access є різні способи управління даними, а саме: система меню, панелі інструментів, контекстне меню, покажчик миші та комбінації клавіш. При роботі з Access використовують як ліву так і праву клавіші миші.<br>
                    СУБД Access має значну кількість спеціальних програм, які отримали назву "майстри". Так є майстер таблиць, кнопок, форм і тд. Майстри здійснюють діалог з користувачем, у процесі якого визначаються дані, необхідні для розв'язування відповідної задачі. Для зручності роботи майстри поділяються на кроки (етапи). Користувач може пропускати деякі кроки чи повертатися до попередніх.<br>
                    Access має розвинуту систему запитів яка дозволяє отримувати на екрані різні відомості з таблиць. Користувач може задавати умови запиту, відповідно з якими з бази вибираються визначені дані чи формується нова таблиця. Крім виводу даних у вигляді таблиць, Access має засоби, що забезпечують видачу на екран даних у вигляді інших форматів (форм). За допомогою майстра форм користувач сам може визначити форму видачі даних на екран. Є три стандартних види форм, які можуть будуватися автоматично.
                    У системі Access широко використовується поняття звіт. Звіт багато в чому схожий на форму. Його використовують при виведенні документів на друкування. Різниця між формою і звітом у тому, що формати звітів відповідають стандартним форматам паперу.
                    У Access реалізовані дві мови програмування: SQL та Visual Basic. SQL - мова структурованих запитів. Вона проста та зручна, але має обмежені можливості.</p>
                <br><p>СУБД Access має потужну довідкову систему. Для допомоги необхідно встановити курсор миші на кнопці із знаком питання і клацнути по її лівій клавіші.</p>
                <br><h2><b>Питання для самоконтролю</b></h2>
                <ol>
                    <li>Що таке база даних?</li>
                    <li>Наведіть приклади побутових баз даних.</li>
                    <li>Наведіть приклади БД виробничого характеру.</li>
                    <li>Які типи баз даних існують?</li>
                    <li>Що таке реляційної бази даних?</li>
                    <li>Що таке ієрархічна база даних?</li>
                    <li>Що таке мережева база даних?</li>
                    <li>Що таке СУБД?</li>
                    <li>Яке розширення має файл бази даних?</li>
                    <li>Які операції можна воконувати за допомогою СКБД?</li>   
                    <li>Що таке запис?</li>
                    <li>Що таке поле?</li>
                    <li>Які вимоги до ключового поля?</li>
                    <li>Як запустити СУБД Access?</li>
                    <li>Що слід розуміти під майстром у СУБД Access?</li>
                </ol>
        </div>
    </div>
</div>
