{% load static %}

<div class="container">
    <div class="block">
        <div class="intro_content">
        <p><h2><b>Тема</b></h2>Практична робота: "Створення форм та звітів"</p>
        <br><p><h2><b>Мета</b></h2>Навчити створювати форми та звіти за допомогою майста та конструктора. 
            Розвивати навики роботи з програмами Access. Виховувати свідоме ставлення до інформатики.</p>
        <br><h2><b>Завдання</b></h2><br>
        <p>Створити форму та звіт для бази даних на тему "Шкільні друзі" (БД була розглянута на попередніх уроках: див. Заняття 2 та Заняття 3).</p>
        <br><h2><b>Хід роботи</b></h2><br>
        <p><ol>
            <li>Запустіть програму опрацювання бази даних.</li>
            <li>Відкрийте базу даних, що містить таблицю Шкільні друзі.</li>
            <li>Починайте створювати форму для таблиці Шкільні друзі. Для цього у головному вікні БД виберіть закладку Формы і натисніть на кнопку Создать.</li>
            <li>Активізуйте майстер форм і виконайте всі його вказівки (кроки). У вікні Новая форма виберіть майстра форм, а також джерело даних - нашу таблицю і натисніть Ок.</li>
            <li>Виберіть поля, які повинні бути у формі. Виберіть усі поля кнопкою >> і натисніть на кнопку Далее.</li>
            <li>Виберіть зовнішній вигляд форими. Наприклад, задайте вигляд В один столбец.</li>
            <li>Виберіть стиль форми (тло, заставку): стандартний, камінь або глобус. Які є стилі форми? </li>
            <li>Тепер надайте формі назву. Уведіть назву Учні -> Увімкніть режим автовідкриття форми (перший перемикач) -> Готово.</li>
            <li>Перегляньте усі записи. Користуйтеся кнопками гортання у нижній чистині форми.</li>
            <li>Вставте новй запис на свій розсуд. Для цього скористайтесь з кнопки внизу форми Вставить новую запись.</li>
            <li>Перейдіть у режим конструктора для вставляння нових елементів у форму. Для цьго виконайте команди Вид -> Конструктор.</li>
                Переконайтеся, що на екрані є панель елементів керування. Якщо її немає, то виконайте команди Вид -> Панель инструментов. Надалі важливо розрізняти вікно форми з конкретними даними (яке отримують командами Вид -> Режим форм) і вікно конструктора форми (Вид -> Конструктор). Під час створення форми варто частіше перемикатися з режиму конструктора в режим форми, щоб бачити результати конструювання.</li>
            <li>Форма може містити заголовок і примітки. Підготуйте форму для введення заголовка і приміток командами Вид -> Заголовок / примечание формы.</li>
            <li>Уведіть заголовок і розмалюйте його. Змініть розмір, шрифту і стиль заголовку. У полі приміток вставте: Виконав [-нала] і своє прізвище.</li>
            <li>Перегляньте результат роботи, перейшовши у режим форми.</li>
            <li>Збережіть форму на диску. </li>
            <li>Починайте створорювати звіт для відкритої таблиці. Для цього у головному вікні БД виберіть закладку Отчеты і натисніть на кнопку Создать</li>
            <li>Активізуйте майстер звітів і виконайте всі його вказівки (кроки), а також виберіть джерело даних - нашу таблицю і натисніть Ок.</li>
            <li>Виберіть поля, які повинні бути у звіті. Виберіть усі поля кнопкою >> і натисніть на кнопку Далее.</li>
            <li>Виберіть зовнішній вигляд звіту. Наприклад, задайте вигляд В один столбец.</li>
            <li>Виберіть стиль форми. Які є стилі форм?</li>
            <li>Виконайте операції із звітом аналогічно формі в попередньому завданні з 8-го по 14-й пункт (вставте заголовок, пеєксперериментуйте з конструктором ітд.).</li> 
            <li>Збережіть базу даних на диску і завершіть роботу.</li>
        </ol></p>
    </div>
</div>
</div>