{% load static %}

<div class="container">
    <div class="block">
        <div class="intro_content">
        <p><h2><b>Тема</b></h2>Впорядкування даних, пошук даних за зразком в таблиці. 
            Використання простих фільтрів для пошуку даних у БД. Використання розширеного фільтру.</p>
        <br><p><h2><b>Мета</b></h2>Забезпечити інформацією про операції фільтрування, сортування та пошуку в БД. 
            Вивчити основні прийоми роботи з фільтрами та процедурою пошуку в Access. Розвивати навики роботи з фільтрами. 
            Виховувати свідоме ставлення до інформатики.</p>
        <br><h2><b>Теоретичні відомості</b><br>
        
        <h2><b>Впорядкування даних</b></h2>
        <p>Розглянемо, як користуються базою даних. Файл з даними завантажують з диска в пам'ять комп'ютера і переглядають записи, 
            візуально шукаючи потрібні. Але оскільки записів може бути багато, то переглянути всі, щоб знайти серед них потрібні, практично неможливо.
            Якщо записів дуже багато, то для відшукання конкретних їх спочатку впорядковують, 
            вибираючи за основу впорядкування потрібне поле. Наприклад, можна впорядкувати базу даних за полем Прізвище, 
            щоб отримати список за алфавітом, чи за полем Дата, щоб отримати список за старшинством.
            Таким чином посортувати записи в СУБД Access можна по зростанню та по спаданню. 
            Для сортування по одному полю достатньо перевести курсор в це поле. Коли потрібно відсортувати таблицю по кількох полях, 
            то їх виділяють і сортування здійснюється спочатку по першому полю, потім другому і так далі. 
            Щоб виконати ці дії необхідно виділити у відкритій таблиці бази даних поле, по якому будемо сортувати і клацнувши правою кнопкою миші викликати контекстне меню цього поля, 
            далі вибрати потрібний пункт: Сортировка по возростанию чи Сортировка по убыванию:</p>
        
        <div class="img_content small">
            <img src="{% static 'access/img/image06.png' %}" alt="Alt" class="img_exc">
        </div>

        <p>Або скористатися головним меню Access: Записи -> Сортировка... чи кнопками на панелі інструментів (якщо вони є).</p>

        <div class="img_content small">
            <img src="{% static 'access/img/image08.png' %}" alt="Alt" class="img_exc">
        </div>

        <br><h2><b>Пошук даних у таблиці за зразком</b></h2><br>
        <p>Для відшукання потрібних даних застосовують спеціальні прийоми: 
            фільтри або звернення до бази даних із запитами. 
            А також для відшукання в таблиці запису за зразком використовують процедуру пошуку.<br><br>

            Під час введення тексту в поле пошуку , першого значення буде виділено в режимі реального часу під час введення кожний символ.
            Цю функцію можна використовувати, щоб швидко знайти запис зі значеннями. 
            До певного запису в таблиці або форми також можна шукати за допомогою параметра Пошук.</p>

            <div class="img_content small">
                <img src="{% static 'access/img/image10.png' %}" alt="Alt" class="img_exc">
            </div>

            <p>В цьому вікні є дві закладки: Поиск і Замена.</p>

            <div class="img_content">
                <img src="{% static 'access/img/image007.png' %}" alt="Alt" class="img_exc">
            </div>

            <p>Коли вибрати закладку Поиск та ввести зразок пошуку, то якщо зразок співпаде із деяким полем - покажчик таблиці перейде на цей запис (при відкритті таблиці покажчик таблиці вказує на перший запис). Коли такого запису не має, то на екрані з'явиться відповідне повідомлення і покажчик таблиці не змінить свого положення.
                В вікні пошуку можна змінювати поле пошуку, а також вибирати умови співпадіння із зразком: повне, з початком запису, з любою частиною поля. Коли натиснути кнопку Найти далее, то якщо є ще поля, які співпадають із зразком, то покажчик перейде на наступне поле.
                Вибравши закладку Замена можна відшукати поле за зразком та здійснити його заміну, записавши в вікно Заменить на нове значення.
                Коли натиснути на кнопку << Больше (вона є на обох заклдках), то з'являться додаткові параметри пошуку:<br>
                - в яком у напрямку здійснюється пошук (вверх або вниз по таблиці, чи по всій таблиці), позамовчуванню здійснюється по всій таблиці;<br>
                - враховувати формат або регістр поля (в пустих клітинках встановлюють позначки), позамовчуванню ці прараметри не встановлені.
                Після закриття вікна пошуку покажчик таблиці (після проведення заміни або пошуку) не змінює свого положення.</p><br>

            <p>Щоб створити фільтр чи запит, формують умову пошуку і за певними правилами (як у мовах програмування) складають відповідний логічний вираз. Іменами полів тут оперують так, як це звичайно роблять із іменами змінних. Наприклад ДАТА=25/08/86 дає змогу виявити всіх учнів, які народилися 25 серпня 1986 року, а вираз ДАТА>=1/06/86 - тих, хто народився пізніше. Щоб вивести на екран записи про учнів, які народилися, наприклад, улітку 1986 року,треба застосувати у фільтрах чи запитах складений вираз: ДАТА>=1/06/86 і ДАТА<=31/08/86.
                Для шукання даних користувач будує умови: прості і складені.
                Прості умови - це числа, тексти, вирази, математичні співвідношення, наприклад: 5; Артист; >3; <>3 =4; Like[A-Г] - прізвища, які починаються на А, Б, В, Г; Like "Ар*" - слова, які починаються на Ар; 69???? - шестизначні номери телефонів, які починаються на 69 тощо.
                Складені умови - це умови, побудовані з простих за допомогою логічних операцій not (не), and (і), or (або). Наприклад, not 2; between 3 and 4; between date()-30 and date() - дати за минулі 30 днів від сьогоднішньої, between 21/04/99 and 21/05/99 - дати між двома вказаними датами.</p>

            <br><h2><b>Використання фільтрів для пошуку даних</b></h2><br>

            <p>Бази даних можуть містити тисячі й десятки тисяч записів. Типову задачу опрацювання даних формують так: 
                серед записів відшукати у БД ті, які задовольняють деякій критерій (умову) і вивести їх на екран, папір чи створити з них іншу таблицю тощо.<br>
                Фільтри застосовують у випадку нескладних умов пошуку і виведення даних на екран чи папір. 
                У конструкторах фільтрів умови вводять у рядок умов. Умови, які стосуються різних полів і використовують логічну операцію and (i), 
                записують в одному рядку конструктора умов. Умови, які стосуються одного поля і базуються на операції or (або), 
                розташовують одну під одною. Доспуп до команд роботи з фільтрами можна отримати одним із трьох способів:</p>

            <ol>
                <li>за допомогою параметра Сортировка и Фильтр.</li>
                <div class="img_content small">
                    <img src="{% static 'access/img/image009.png' %}" alt="Alt" class="img_exc">
                </div>
                <li>виконати відповідну команду з контексного меню клітинки:</li>
                <div class="img_content small">
                    <img src="{% static 'access/img/image08.png' %}" alt="Alt" class="img_exc">
                </div>
                <li>скористатися кнопками команд на панелі інструментів.</li>
            </ol>

            <ul>
                <li>Фильтр по выделеному.</li>
                <p>Спосіб швикого відбору записів в поточному виділеному блоці. 
                    Коли приблизно відоме розміщення потрібного запису, то виділивши цю частину таблиці, 
                    і вибравши Фильтр по выделеному пошук буде здійснюватись не у всій таблиці, а у виділений частині. 
                    Це зменшить час пошуку потрібного поля, особливо коли в таблиці багато записів.</p><br>
                <li>Изменить фильтр.</li>
                <p>Коли натиснути на цю кнопку, то від таблиці залишиться один запис. 
                    Кожне поле стає полем із списком, в якому можна зробити вибір із списку всіх значень для даного поля.</p><br>
                <li>Изключить выдиление</li>
                <p>Працює протилежно Фильтр по выделеному: використовує фільтр стосовно всіх записів, завийнятком виділених.</p><br>
                <li>Удалить фильтр.</li>
                <p>Знімає фільтр із таблиці, можна побачити всі поля таблиці; умови фільтра зберігаються у пам'яті, і при застосуванні фільтра діє запам'ятована схама.</p><br>
                <li>Применить фильтр.</li>
                <p>Вмикає фільтр, умови відбору якого встановлені раніше, після виконання команди Удалить фильтр.</p><br>
                <li>Разширеный фильтр.</li>
                <p>дозволяє застосувати кілька умов для вибору (фільтрування) записів.</p>
            </ul>

            <br><h2><b>Розглянемо Разширеный фильтр.</b></h2><br>
            <div class="img_content">
                <img src="{% static 'access/img/image09.png' %}" alt="Alt" class="img_exc img_exc_big">
            </div>
            <p>Вікно розширеного фільтра розділене на дві частини: в першій знаходяться таблиці бази даних із списком полів; друга частина містить чотири рядки. В першому рядку під назвою Поле задають поля для яких буде записана умова (поля по яких здійснюватимиться фільтрування). Поля вибираються із таблиць бази даних у верхній частині вікна (їх може бути дуже багато).
                Другий рядок - Сортування. Тут можна задавати сортування по спаданню чи зростанню відповідних полів. 
                В третій і четвертий ряди зиписують умови фільтрації.
                Коли навпроти Условие отбора записати умови №"один", то відфільтруються записи, що задовольняють ці умови, а коли записати ще умови №"два", навпроти или, то відфільтруються зиписи, що задовальняють умовам №"один" або №"два".<br>
                Умов фільтрації може бути багато, і ці умови можна вибрати шляхом прокручення нижніх двох рядків (верхні два рядки фіксовані) вверх або вниз на одну умову.<br>
                Таким чином розширений фільтр має ширші можливості, на відміну від звичайного: можна змінювати поля для фільтрації у вікні розширеного фільтра, задавати багато полів та умов відбору, легко формувати умову використовуючи або.<br>
                Для приведення розширено фільтру в дію необхідно відкрити вікно розширеного фільтру, задати необхідні пареметри фільтрації та натиснути кнопку Применение фильтра на панелі інструментів. Після цих дій на екрані з'яввиться таблиця із записами, що задовольняють введеним умовам; якщо таких записів немає, то - виведеться таблиця, яка складається із одного пустого запису.</p>
        
           <br><h2><b>Питання для самоконтролю</b></h2>
        <ol>
            <li>Для чого використовують фільтри і запити?</li>
            <li>Наведіть приклади простих умов пошуку.</li>
            <li>Як і якими способами можна відсортувати записи не використовуючи фільтр?</li>
            <li>Як здійснити пошук записів по зразку?</li>
            <li>Як можна автоматично змінити знайданий за зразком запис?</li>
            <li>Що таке фільтр?</li> 
            <li>Які способи створення фільтрів?</li>
            <li>Які види фільтрів вам відомі?</li>
            <li>Яка різниця між простим і розширеним фільтром?</li>
            <li>Як активізувати (запустити) розширений фільтр?</li>
            <li>Чи зникають умови фільтрування при виконанні команди видалення фільтру?</li>
            <li>Чи можна здійснювати фільтрування окремих частин таблиці? Як?</li>
        </ol>
    </div>
</div>
</div>
