{% load static %}

<div class="container">
    <div class="block">
        <div class="intro_content">
        <p><h2><b>Тема</b></h2>Проектування БД. Створення структури таблиці реляційної бази даних.
            Типи даних, які використовуються в БД. Введення та редагування даних. Різні способи створення таблиць.</p>
        <br><p><h2><b>Мета</b></h2>Спирияти вивченню правил проектування баз даних.
            Забезпечити різними способами введення та редагування даних.
            Ознайомити з типами даних, що використовуються у базі даних Access. Розглянути різні способи створення таблиць.
            Розвивати навики роботи з таблицями. Виховувати свідоме ставлення до інформатики.</p>
        <br><h2><b>Завдання</b></h2><br>
        <p>Створити базу даних на тeму "Шкільні друзі" з 10 - 15 записами, структура якої розглянута на Занятті 2.</p>
        <br><h2><b>Хід роботи</b></h2><br>
        <p><ol>
            <li>Запустіть програму Access для створення бази даних.</li>
            <li>Створіть нову базу даних з іменем файлу - вашим прізвищем. Діалогове вікно Access -> Новая база дaных -> OK -> Виберіть свою папку, дати назву файлу Прізвище 1 -> Создать.</li>
            <li>Виберіть режим конструктора таблиці-відкриється вікно конструктора Таблица1.</li>
            <li>Утворіть структуру бази даних.</li>
                Уведіть назви полів (згідно з умовою задачі). Задайте типи полів, клацнувши у полі типу і скориставшись списком стандартних типів. Користуйтесь вертикальним прокручуванням робочого поля вікна конструктора, щоб переглянути всю структуру.</li>
            <li>Закрийте вікно конструктора таблиці. Для цього клацніть на кнопці закриття вікна (але не переплутайте з вікном програми Access) і збережіть структуру таблиці на диску з деякою назвою: Закрыть -> Дайте назву таблиці -> OK. Відмовтеся від створення ключового поля.</li>
            <li>Відкрийте створену таблицю для введення даних. Для цього виберіть у головному вікні БД таблицю з вашою назвою і натисніть на кнопку Открыть.</li>
            <li>Уведіть у таблицю дані про 10 - 15 студентів.</li>
            <li>Модифікуйте структуру таблиці. Для цього перейдіть у режим конструктора структури. Натисніть кнопку Вид -> Конструктор. Змініть назви полів - напишіть їх великими літерами. Зміна назви поля веде до втрати даних, а в цій програмі - ні.</li>
            <li>Добавте до таблиці три поля з назвою яких-небуть предметів (навибір): викликаємо контексне меню поля, перед яким будемо вставляти нові поля і вибираємо Добавить столбец</li>
            <li>Видаліть поле АДРЕСА: Правка -> Удалить столбец.</li>
            <li>Перейдіть у режим таблиці і заповніть добавлені поля даними.</li>
            <li>Зкрийте свою базу даних, зберігаючи дані на диску.</li>
            <li>Завершіть роботу.</li>
        </ol></p>
    </div>
</div>
</div>
