{% load static %}


<div class="container">
    <div class="title_bar_web_lesson">Завдання №1</div>
    <div class="content_bar_web_lesson">
        <div class="text_lessons">Створити Web-сторінку "Schevchenko.html", яка містить текст вірша "Сон". 
            Зробити три копії даної сторінки під назвами: "Schevchenko.html", "Schevchenko2.html", "Schevchenko3.html".</div><br>
        <img class="img_web_lesson" src="{% static 'web_tech/img/virsh.jpg' %}" alt="">
        <ul class="ul_web_lesson">
            <li class="li_web_lesson">У файлі "Schevchenko.html", встановити колір фону з шіснадцятковим кодом #99FFCC.</li>
            <img class="img_web_lesson" src="{% static 'web_tech/img/ss_4_1a.jpg' %}" alt="">
            <li class="li_web_lesson">У файлі "Schevchenko2.html", використати в якосту фону зображення "pic1.gif". Дане зображення повинно бути нерухомим (при прокрутці сторінки фон повинен залишатися на місці).</li>
            <img class="img_web_lesson" src="{% static 'web_tech/img/ss_4_1b.jpg' %}" alt="">
            <li class="li_web_lesson">Самостійно створити фонове зображення розміром 15 x 15 пікселів. Використати його в даній Web-cторінці: "Schevchenko3.html"</li>
            <img class="img_web_lesson" src="{% static 'web_tech/img/ss_4_1c.jpg' %}" alt="">
        </ul>
    </div>

    <div class="title_bar_web_lesson">Завдання №2</div>
    <div class="content_bar_web_lesson">
        <div class="text_lessons">Відкрити створену на минулому занятті Web-сторінку "z_3_3.html" (при необхідності даний файл можна знайти в папці htmltask). Змінити дану Web-сторінку так, щоб в ній були використані різні фонові зображення згідно вимог, наведених нижче:</div><br>
        <ul class="ul_web_lesson">
            <li class="li_web_lesson">Встановити бірюзовий колір фону (aqua). Зберегти файл під іменем "z_4_2a.html".</li>
            <img class="img_web_lesson" src="{% static 'web_tech/img/ss_4_2a.jpg' %}" alt="">
            <li class="li_web_lesson">Використати в якосту фону зображення "pic2.jpg". Зберегти файл під іменем "z_4_2b.html".</li>
            <img class="img_web_lesson" src="{% static 'web_tech/img/ss_4_2b.jpg' %}" alt="">
            <li class="li_web_lesson">Самостійно створити зображення розміром 30 x 60 пікселів. Зберегти файл під іменем "z_4_2c.html".</li>
            <img class="img_web_lesson" src="{% static 'web_tech/img/ss_4_2c.jpg' %}" alt="">
        </ul>
    </div>

    <div class="title_bar_web_lesson">Завдання №3</div>
    <div class="content_bar_web_lesson">
        <div class="text_lessons">Відкрити Web-сторінку "z_2_2.html", яка була створена на занятті №2 (при необхідності даний файл можна знайти в папці "htmltask"). Розробити дві модифікації сторінки згідно наведених нижче вимог:</div><br>
        <ul class="ul_web_lesson">
            <li class="li_web_lesson">Визначити шіснадцятковий код кольору панелі завдань Вашого робочого столу і використати його в якості фону Web-сторінки. Зберегти файл під іменем "z_4_3a.html".</li>
            <img class="img_web_lesson" src="{% static 'web_tech/img/ss_4_3a.jpg' %}" alt="">
            <li class="li_web_lesson">Самостійно створити фонове зображення розміром 40 x 40 пікселів. Зберегти файл під іменем "z_4_3b.html".</li>
            <img class="img_web_lesson" src="{% static 'web_tech/img/ss_4_3b.jpg' %}" alt="">
        </ul>
    </div>
</div>