{% load static %}

<div class="container">
    <div class="title_bar_web_lesson">Завдання №1</div>
    <div class="content_bar_web_lesson">
        <div class="text_lessons">Створити Web-сторінку, яка містить чотири прислів'я, кожне з яких відформатувати наступним чином:</div><br>
        <ul class="ul_web_lesson">
            <li class="li_web_lesson">присів'я №1: шрифт - Comic Sans MS; колір - зелений (green);</li>
            <li class="li_web_lesson">присів'я №2: шрифт - Courier New; колір - червоний (red);</li>
            <li class="li_web_lesson">присів'я №3: шрифт - Impact; колір - малиновий (maroon);</li>
            <li class="li_web_lesson">присів'я №4: шрифт - Arial; колір - бузковий (purple).</li>
        </ul><br>
        <div class="text_lessons">Усі назви звірів виділити напівжирним шрифтом; цифру "1" в примітці відформатувати як верхній індекс.</div>
        <img class="img_web_lesson" src="{% static 'web_tech/img/ss_3_1.jpg' %}" alt="">
    </div>

    <div class="title_bar_web_lesson">Завдання №2</div>
    <div class="content_bar_web_lesson">
        <div class="text_lessons">Створити Web-сторінку із загадками і відформатувати її наступним чином:</div><br>
        <ul class="ul_web_lesson">
            <li class="li_web_lesson">заголовок: шрифт - Comic Sans MS; колір - червоний (red); курсив;</li>
            <li class="li_web_lesson">загадки: шрифт - Book Antiqua; колір - малиновий (maroon);</li>
            <li class="li_web_lesson">відгадки: нижній індекс;</li>
            <li class="li_web_lesson">номер найкращої, на Вашу думку, загадки виділити підкресленим шрифтом.</li>
        </ul><br>
        <img class="img_web_lesson" src="{% static 'web_tech/img/ss_3_2.jpg' %}" alt="">
    </div>

    <div class="title_bar_web_lesson">Завдання №3</div>
    <div class="content_bar_web_lesson">
        <div class="text_lessons">Створити Web-сторінку згідно зразка. Провести форматування:</div><br>
        <ul class="ul_web_lesson">
            <li class="li_web_lesson">заголовок: шрифт - Tahoma; колір - темно-синій (navy);</li>
            <li class="li_web_lesson">весь інший текст: шрифт - Arial; шіснадцятковий код кольору #800080.</li>
        </ul><br>
        <div class="text_lessons">Для назв усіх чотирикутників встановити таке накреслення: підкреслений напівжирний курсив.</div>
        <img class="img_web_lesson" src="{% static 'web_tech/img/ss_3_3.jpg' %}" alt="">
    </div>
</div>