{% load static %}


<div class="container">
    <div class="title_bar_web_lesson">Завдання №1</div>
    <div class="content_bar_web_lesson">
        <div class="text_lessons">&nbsp;&nbsp;&nbsp;Створити Web-сторінку, яка містить заголовки третього рівня і два списки: нумерований список материків і маркірований список океанів.<br><br>
            Вимоги до Web-сторінки:</div><br>
        <ul class="ul_web_lesson">
            <li class="li_web_lesson">фон сторінки - світло-сірий (silver);</li>
            <li class="li_web_lesson">колір списку материків - зелений (green);</li>
            <li class="li_web_lesson">колір списку океанів - темно-синій (navy);</li>
            <li class="li_web_lesson">колір списку океанів - темно-синій (navy);</li>
        </ul><br>
        <img class="img_web_lesson" src="{% static 'web_tech/img/ss_5_1.jpg' %}" alt="">
    </div>

    <div class="title_bar_web_lesson">Завдання №2</div>
    <div class="content_bar_web_lesson">
        <div class="text_lessons">&nbsp;&nbsp;&nbsp;Створити Web-сторінку, яка містить заголовки третього рівня і два маркірованих списки, які відрізняються один від одного маркерами.<br><br>
            Параметри Web-сторінки:</div><br>
        <ul class="ul_web_lesson">
            <li class="li_web_lesson">фон сторінки - синій (blue);</li>
            <li class="li_web_lesson">колір списку країн - білий (white);</li>
            <li class="li_web_lesson">колір списку столиць - жовтий (yellow);</li>
            <li class="li_web_lesson">товщина лінії - 1 піксель; довжина - 80% ширини вікна; колір - світло-сірий (silver).</li>
        </ul><br>
        <img class="img_web_lesson" src="{% static 'web_tech/img/ss_5_2.jpg' %}" alt="">
    </div>
    <div class="title_bar_web_lesson">Завдання №2</div>
    <div class="content_bar_web_lesson">
        <div class="text_lessons">&nbsp;&nbsp;&nbsp;Створити Web-сторінку, яка містить вкладені списки планет Сонячної системи. Фон сторінки - бірюзовий (aqua). Параметри горизонтальної лінії підібрати самостійно.<br><br>
            За допомогою двох горизонтальних ліній наочно показати відношення розмірів Землі до розмірів Місяця. При виборі параметрів ліній врахувати те, що розміри Землі і Місяця відносяться як 128 до 35.</div><br>
        <img class="img_web_lesson" src="{% static 'web_tech/img/ss_5_3.jpg' %}" alt="">
    </div>
</div>