{% load static %}


<div class="container">
    <div class="title_bar_web_lesson">Завдання №1</div>
    <div class="content_bar_web_lesson">
        <div class="text_lessons">Створити Web-сторінку, що містить вірш Василя Симоненка "Ти знаєш, що ти людина". Для відображення назви вірша "Ти знаєш, що ти люжина..." 
        використайте заголовок першого рівня (тег h1). Вирівнювання стовпчиків вірша та останнього абзацу проведіть у два прийоми:</div><br>
        <ol class="ol_web_lesson">
            <li class="li_web_lesson">Все вирівняйте по центру. зроблену роботу покажіть вчителю.</li>
            <li class="li_web_lesson">Пеший стовбчик вірша вирівняйте по лівому краю, другий по центру, третій по равому краю. Останній абзц вирівняйте по ширині (align='justify').</li>
        </ol><br>
        <div class="text_lessons">
        На усій Web-сторінці використайте шрифт темно-синього кольору (navy) та за назвою Consolas.<br>
        Виконану роботу покажіть вчителю.<br>
        Змініть колір назви вірша на червоний.<br>
        Змініть колір другого стовбчика вірша на зелений, а шрифт на Impact.<br>
        Виконану роботу покажіть вчителю.</div>

        <div class="help_text_web_lesson">Текст вірша і останнього абзацу знайдете у папці HTML-матеріали/До_теми_02/simonenko</div>
        <img class="img_web_lesson" src="{% static 'web_tech/img/t2z1.png' %}" alt="">
    </div>

    <div class="title_bar_web_lesson">Завдання №2</div>
    <div class="content_bar_web_lesson">
        <div class="text_lessons">Створити Web-сторінку, що містить фрагмент оповідання Льюіса Керрола "Аліса в країні чудес".</div><br>
        <ul class="ul_web_lesson">
            <li class="li_web_lesson">Перший рядок сторінки - заголовок першого рівня кольору orange.</li>
            <li class="li_web_lesson">Другий і третій рядки - заголовок третього рівня (між ними не повинно бути порожнього рядка).</li>
            <li class="li_web_lesson">Наступні абзаци вирівнюються по ширині сторінки зі шрифтом Comic Sans MS.</li>
        </ul><br>
        <div class="text_lessons">
            Виконану роботу покажіть вчителю.<br>
            Змініть колір трьох абзаців тексту оповідання:<br>
            <ul class="ul_web_lesson">
                <li class="li_web_lesson">перший абзац - червоний (red);</li>
                <li class="li_web_lesson">другий абзац - зелений (green);</li>
                <li class="li_web_lesson">третій абзац - синій (blue);</li>
            </ul><br>
            Виконану роботу покажіть вчителю.
        </div>

        <div class="help_text_web_lesson">Текст знайдете у папці HTML-матеріали/До_теми_02/alisa_1</div>
        <img class="img_web_lesson" src="{% static 'web_tech/img/t2z2.png' %}" alt="">
    </div>

    <div class="title_bar_web_lesson">Завдання №3</div>
    <div class="content_bar_web_lesson">
        <div class="text_lessons">Cтворити Web-сторінку "Титульна сторінка реферату" за наведеним взірцем. Між усіма текстовими блоками повинно бути пропущено по декілька порожніх рядків. Прізвище, 
            ім'я, місто і рік змініть на свої дані. Розкрасьте текст сторінки різними кольорами.</div>
        <img class="img_web_lesson" src="{% static 'web_tech/img/t2z3.png' %}" alt="">
    </div>
</div>