{% load static %}


<div class="container">
    <div class="title_bar_web_lesson">Завдання №1</div>
    <div class="content_bar_web_lesson">
        <div class="text_lessons">Створити Web-сторінку за наведеним зразком:</div>
        <img class="img_web_lesson" src="{% static 'web_tech/img/t1z1.png' %}" alt="">
        <div class="text_lessons">Виконані завдання можна зберегти на комп'ютері, або безпосередньо у інтернет-мережі (на хостингу).</div>
        <div class="sub_bar_title_lesson_web">ВАРІАНТ 1. Збереження завдань на комп'ютері.</div>
        <ol class="ol_web_lesson">
            <li class="li_web_lesson">На робочому диску D:, створіть папку з №-вашої групи. Перейдіть у цю папку і створіть іншу папку зі своїм прізвищем та ім'ям, відкрийте її.</li>
            <li class="li_web_lesson">У папці з вашим прізвищем та ім'ям створіть папку для 1 теми, назва папки "t1" , відкрийте її. У папку "t1" ви будете зберігати виконані вами завдання. Перше завдання матиме назву "t1z1.html" (тема 1 - t1, завдання 1 - z1), друге завдання першої теми матиме назву t1z2.html.</li>
            <li class="li_web_lesson">Відкрийте програму редактора коду Notepad++ або Sublime Text 3 або Блокнот .</li>
            <li class="li_web_lesson">Якщо у редакторі Notepad++ є відкриті чужі вкладки, то закрийте їх не зберігаючи. Ваша вкладка, на початок роботи повинна мати назву "new1".</li>
            <li class="li_web_lesson">Змініть кодування пустого документу. У головному меню команд (зверху редактора) виберіть пункт "Кодування", а у ньому пункт "Кодувати в UTF-8-BOM" (третій зверху пункт кодування).</li>
            <li class="li_web_lesson">Пустий документ збережіть у свою папку t1. для цього:<br>
                <ul class="ul_web_lesson">
                    <li class="li_web_lesson">У головному меню команд (зверху редактора) виберіть команду "Файл".</li>
                    <li class="li_web_lesson">У команді "Файл" виберіть пункт "Зберегти як...".</li>
                    <li class="li_web_lesson">Зявиться нове вікно, у ньому зліва виберіть робочий стіл і на робочому столі знайдіть папку "Школа програмування", відкрийте її. Також послідовно відкрийте папку з вашим прізвищем і папку теми (t1).</li>
                    <li class="li_web_lesson">Знизу вікна виберіть Тип файлу - "Hyper Text Markup Language file (*.html ...)" (відповідний тип є найдовшим рядком у списку)</li>
                    <li class="li_web_lesson">У полі ім'я файлу вкажіть назву файлу, наприклад "t1z1"</li>
                    <li class="li_web_lesson">Перевірьте чи все вибрали і написали вірно і натисніть кнопку "Зберегти" (по російськи "Сохранить")</li>
                </ul>
            </li>
            <li class="li_web_lesson">Після збереження пустого документу переходьте до написання коду web-сторінки. Під час написання коду зберігайте написане скориставшись комбінацією клавіш CTRL+S.</li>
            <li class="li_web_lesson">Перевірьте написаний код відкривши у бравзері файл t1z1.html. Якщо є помилки, то виправьте їх у редакторі, збережіть виправлення (CTRL+S). Для перегляду виправлень оновіть вікно бравзера (оновити вікно мона натистувши клавішу "F5").</li>
            <li class="li_web_lesson">Виконану роботу покажіть вчителю.</li>
        </ol>
    </div>

    <div class="title_bar_web_lesson">Завдання №2</div>
    <div class="content_bar_web_lesson">
        <div class="text_lessons">Створити Web-сторінку за наведеним зразком:</div>
        <img class="img_web_lesson" src="{% static 'web_tech/img/t1z2.png' %}" alt="">
    </div>

    <div class="title_bar_web_lesson">Завдання №3</div>
    <div class="content_bar_web_lesson">
        <div class="text_lessons">Cтворіть Web-сторінку за наведеним зразком (замість нижніх підкреслювань помістити свої дані):</div>
        <img class="img_web_lesson" src="{% static 'web_tech/img/t1z3.png' %}" alt="">
    </div>
</div>