{% load static %}
<div class="main_block">
    <div class="entry_text">
        Міністерство освіти і науки України<br>
        Луцький національний технічний університет<br>
        Відокремлений структурний підорозділ<br>
        “Ковельський промислово-економічний фаховий коледж<br>
        Луцького національного технічного університету”<br><br><br>


        Інформатика<br><br><br>


        Електронний навчальний посібник для студентів всіх спеціальностей 1-курсу<br>
        {{ subtitle }}
    </div>
</div> 