{% load static %}
<div class="footer">
    <div class="container">
        <div class="footer_grid">
            <div class="logo">
                <a href="{% url 'home' %}"><b>MELES</b>CHUK<br>
                <p class="sub_title">ВСП "КПЕФК ЛНТУ"</p></a>
            </div>
            <div class="item_footer">
                Відокремлений структурний підрозділ<br>
                Ковельський промислово економічний фаховий коледж<br>
                Луцького національного технічного університету
            </div>
            <div class="item_footer">
                kpefk_lntu@gmail.com<br>
                <a href="https://goo.gl/maps/rNp7ggvgJvXZ5y636">м.Ковель, вул.Заводська 23</a> <img class="icon_pointmap" src="{% static 'main/img/material-symbols_location-on-outline.png' %}" alt=""><br>
                тел. 033-524-87-14
            </div>
            <div class="item_footer">
                <p>Усі права захищено <img class="icon_secur" src="{% static 'main/img/carbon_security.png' %}" alt=""></p>
            </div>
        </div>
        <div class="footer_grid">
            
        </div>
    </div>
</div>