{% extends 'main/index.html' %}
{% load static %}

{% block main_title %}Інформатика{% endblock %}

{% block main_cont %} 

{% with img_url_lessons="static/main/img/it.jpeg" slogan_lessons="1. Змінюй світ програмуючи!<br>2. Інформатика - ключ до успіху в цифровому світі!<br>3. Вивчай інформатику - перетворюй свої ідеї на дійсність!<br>4. Кодуй майбутнє разом з нами!<br>5. Інформатика - це більше, ніж просто навички програмування!<br>6. Інформатика - це мова, якою розмовляє сучасний світ!<br>7. Підвищуй свою цифрову грамотність з нами!<br>8. Вивчай інформатику - відкрий світ безмежних можливостей!<br>9. Інформатика - це наука, яка формує майбутнє!<br>10. Розвивай свій розум разом з інформатикою!" %}
    {% include 'main/DRY_lessons.html' %}
{% endwith %}


<div class="container">
    <div class="links_pdf">
        <a class="pdf_item" href="{% static 'main/pdf_files/it/Методичні вказівки до практичних занять.pdf' %}">Методичні вказівки</a>
        <a class="pdf_item" href="{% static 'main/pdf_files/it/Навчальна програма.pdf' %}">Навчальна програма</a>
        <a class="pdf_item" href="{% static 'main/pdf_files/it/Робоча програма.pdf' %}">Робоча програма</a>
        <a class="pdf_item" href="{% static 'main/pdf_files/it/complex_work_it.pdf' %}">контрольна робота</a>
    </div>
</div>

<div class="ms-office">
    <div class="container">
        <div class="cards">
            <a href="{% url 'word' %}">
                <div class="card_ofice_anim">
                <div class="card_ofice">
                    <img class="icon_ms" src="{% static 'main/img/ms-word.png' %}" alt="">
                    <p class="sub_title_card">Навчальний посібник по редактору тексту Word</p>
                    </div>
                </div>
            </a>

            <a href="{% url 'excel' %}">
                <div class="card_ofice_anim">
                <div class="card_ofice">
                    <img class="icon_ms" src="{% static 'main/img/ms-excel.png' %}" alt="">
                    <p class="sub_title_card">Навчальний посібник по редактору таблиць Excel</p>
                    </div>
                </div>
            </a>
            <a href="{% url 'Access' %}">
                <div class="card_ofice_anim">
                <div class="card_ofice">
                    <img class="icon_ms" src="{% static 'main/img/ms-access.png' %}" alt="">
                    <p class="sub_title_card">Навчальний посібник по редактору баз даних Access</p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="card_ofice_anim">
                <div class="card_ofice">
                    <img class="icon_ms" src="{% static 'main/img/html_css.png' %}" alt="">
                    <p class="sub_title_card">Навчальний посібник по створенню Веб Додатків HTML/CSS</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="block">
        <div class="intro_content">
            Інформатика - це наука, яка вивчає методи збору, обробки, зберігання, передачі і використання інформації з використанням комп'ютерних технологій та програмного забезпечення. Інформатика охоплює широкий спектр тем, включаючи алгоритми та структури даних, програмування, комп'ютерну архітектуру, мережі, бази даних, штучний інтелект та багато інших.

Інформатика стала ключовою галуззю в сучасному світі завдяки зростанню обсягів даних та їх важливості для бізнесу, науки та технологій. Інформатика забезпечує інструменти для аналізу даних, збереження та передачі інформації в режимі реального часу, забезпечує зручний доступ до різноманітних даних та підвищує продуктивність роботи.

У цілому, інформатика допомагає людям вирішувати складні задачі, автоматизувати процеси та створювати нові можливості у багатьох сферах життя.
        </div>
    </div>
</div>


<div class="container">
    <div class="block">
        <div class="intro_content">
            MS Office - це набір програмного забезпечення для роботи з документами, таблицями, презентаціями та іншими типами даних на комп'ютері. Офісний пакет включає в себе програми, такі як Microsoft Word, Excel, PowerPoint, Access, Outlook та інші.

Microsoft Word є програмою для редагування текстових документів, яка дозволяє створювати, форматувати та зберігати різноманітні типи документів, включаючи листи, звіти та наукові статті.

Microsoft Excel є програмою для роботи з електронними таблицями, яка дозволяє створювати, форматувати та обчислювати дані в таблицях.

Microsoft PowerPoint є програмою для створення презентацій, яка дозволяє створювати зображення, вставляти текст, діаграми та інші типи даних для створення динамічних презентацій.

Microsoft Access є програмою для роботи з базами даних, яка дозволяє створювати, зберігати та організовувати великі об'єми даних.

Microsoft Outlook є програмою для електронної пошти та управління контактами, яка дозволяє керувати електронною поштою, календарем та контактами в одному місці.

MS Office є надійним та потужним інструментом для створення та обробки документів у бізнесі, науковій сфері та особистому житті.
        </div>
    </div>
</div>
{% endblock %}