{% extends 'main/index.html' %}
{% load static %}

{% block main_title %}Операційні системи{% endblock %}

{% block main_cont %} 
    {% with img_url_lessons="static/main/img/os.jpeg" slogan_lessons="1. Windows: Освоюйте світ комп'ютерів з Windows - це просто!<br>2. macOS: Дізнайтеся, що значить робота на справжньому комп'ютері<br>3. Linux: Відкрийте для себе відкритість світу із Linux<br>4. Android: Підключіться до світу мобільності з Android<br>5. iOS: Додайте гладкості в своє життя з iOS<br>6. Chrome OS: Легкість роботи та швидкість - це Chrome OS<br>7. Ubuntu: Знайомтесь з першим вибором для Linux-користувачів - Ubuntu<br>8. Windows Server: Надійність, безпека та продуктивність з Windows Server<br>9. CentOS: Центральна точка для створення потужних серверних застосунків<br>10. Fedora: Відкрийте для себе нові можливості з Fedora Linux" %}
        {% include 'main/DRY_lessons.html' %}
    {% endwith %}

    <div class="container">
        <div class="links_pdf">
            <a class="pdf_item" href="{% static 'main/pdf_files/os/Конспект_лекцій_для_здобувачів_освіти.pdf' %}">Конспект лекцій</a>
            <a class="pdf_item" href="{% static 'main/pdf_files/os/Робоча програма освітнього компонента.pdf' %}">Робоча програма</a>
            <a class="pdf_item" href="{% static 'main/pdf_files/os/Методичні вказівки до самостійної роботи.pdf' %}">Методичні вказівки</a>
            <a class="pdf_item" href="{% static 'main/pdf_files/os/win_os_pract.pdf' %}">Windows OS</a>
            <a class="pdf_item" href="{% static 'main/pdf_files/os/linux_os_pract.pdf' %}">Linux OS</a>
            <a class="pdf_item" href="{% static 'main/pdf_files/os/Перелік питань до заліку.pdf' %}">Залік</a>
            <a class="pdf_item" href="{% static 'main/pdf_files/os/Контрольна робота.pdf' %}">Контрольна робота</a>
        </div>
    </div>

    <div class="container">
        <div class="block">
            <div class="intro_content">
                MacOS - операційна система, розроблена компанією Apple для їх комп'ютерів Macintosh. Основою MacOS є ядро Darwin, яке є відкритим джерелом і засноване на UNIX. MacOS має кілька версій, остання на даний момент - macOS Monterey, яка була випущена в 2021 році.

Одна з особливостей MacOS є його інтерфейс Aqua, який характеризується чистим та простим дизайном. Інтерфейс Aqua має багато функцій, таких як віджети, док та Mission Control, що забезпечують швидкий та простий доступ до програм та додатків.

Окрім того, MacOS має безліч вбудованих додатків, таких як Safari, iTunes, Pages, Keynote, Numbers та інші. Вони є частинами пакету iLife, який містить різноманітні програми для створення та редагування мультимедіа-контенту.

Також, MacOS підтримує бездротові технології, такі як Wi-Fi та Bluetooth, а також має вбудовану підтримку iCloud, що дозволяє користувачам синхронізувати свої дані на всіх пристроях Apple.

Однією з найбільш визнаних переваг MacOS є його безпека. Операційна система має вбудований захист від вірусів та шкідливого програмного забезпечення. Віруси та шкідливі програми є рідкісними на MacOS, що робить його дуже надійним та безпечним для користування.

Загалом, MacOS - це потужна та безпечна операційна система, яка надає користувачам простий та ефективний інтерфейс, багато функцій та високу продуктивність. Вона є однією з найпопулярніших операційних систем для комп'ютерів та ноутбуків, особливо серед професіоналів та творчих людей.
            </div>
        </div>
    </div>
    <div class="container">
        <div class="block">
            <div class="intro_content">
                Linux - це вільна та відкрита операційна система, яка була розроблена в 1991 році Лінусом Торвальдсом та розповсюджується за ліцензією GNU General Public License. Основна ідея Linux полягає в тому, щоб створити операційну систему, яка була б безкоштовною, відкритою та доступною для всіх.

Одна з переваг Linux полягає в тому, що вона має відкритий вихідний код. Це означає, що кожен користувач може вільно переглядати, змінювати та розповсюджувати код операційної системи. Крім того, Linux має безліч безкоштовних додатків та програм, що розроблені та підтримуються громадськістю.

Linux також відомий своєю стабільністю та безпекою. Ця операційна система має вбудовані засоби захисту від вірусів та шкідливого програмного забезпечення. Більшість дистрибутивів Linux також постійно оновлюється та має безкоштовну підтримку від спільноти користувачів.

Linux є основою для багатьох різних операційних систем, таких як Ubuntu, Fedora, Debian та інші. Кожен дистрибутив Linux має свої особливості та інтерфейс, що робить їх доступними для різних типів користувачів.

Linux також знайшов своє застосування в багатьох сферах, включаючи серверні комп'ютери, наукові дослідження та програмування. Це пов'язано з тим, що Linux є дуже гнучкою операційною системою, що може бути настроєна для виконання різних завдань та використання різноманітного обладнання.
            </div>
        </div>
    </div>
    <div class="container">
        <div class="block">
            <div class="intro_content">
                Windows - це популярна пропрієтарна операційна система, розроблена компанією Microsoft. Вона була випущена в 1985 році і стала однією з найбільш поширених операційних систем у світі.

Windows пропонує користувачам широкий спектр можливостей та додатків, включаючи багато вбудованих інструментів для роботи з текстовими документами, таблицями, мультимедіа, інтернетом та іншими ресурсами. Windows має різні версії, призначені для різних потреб користувачів, включаючи домашніх, бізнес-користувачів, розробників та інших.

Windows є замкненою системою, що означає, що вихідний код не доступний для користувачів. Також вона є платною операційною системою, хоча є безкоштовні або дешеві альтернативи, наприклад, Windows 10 S, що працює виключно з додатками з Microsoft Store.

Windows також відома своєю широкою сумісністю з різними програмними продуктами та обладнанням, що робить її вибором для більшості користувачів. Вона також має вбудовані засоби захисту від вірусів та шкідливого програмного забезпечення.

Незважаючи на свою популярність, Windows також має свої недоліки, зокрема, відносно високі вимоги до обладнання, часті оновлення, що можуть вплинути на роботу користувачів та проблеми з безпекою, які потребують постійного оновлення та підтримки.

Загалом, Windows - це популярна та функціональна операційна система, яка пропонує користувачам багато інструментів та можливостей.
            </div>
        </div>
    </div>
    <div class="container">
        <div class="block">
            <div class="intro_content">
                Android - це операційна система для мобільних пристроїв, розроблена компанією Google. Вона була випущена в 2008 році та стала однією з найбільш поширених операційних систем для смартфонів та планшетів.

Android базується на ядрі Linux та пропонує великий вибір додатків та функціональних можливостей. Крім стандартних функцій телефону, Android має ряд вбудованих додатків, таких як Gmail, Google Maps та Google Play, які дозволяють користувачам отримувати доступ до мультимедіа, соціальних мереж, ігор та іншого контенту.

Android є відкритою системою, що означає, що його вихідний код доступний для розробників та користувачів, що дозволяє змінювати та адаптувати систему до потреб користувачів. Також Android дозволяє користувачам встановлювати сторонні додатки, що робить його більш гнучким та доступним для різних користувачів.

Однією з основних переваг Android є те, що він працює на різних мобільних пристроях, від бюджетних до флагманських смартфонів, що дозволяє користувачам вибирати підходящий для них пристрій. Також Android пропонує багато функцій, які роблять його більш доступним та зручним для користувачів, таких як розширені налаштування, можливість персоналізації та широкий вибір додатків.

Однак, Android також має свої недоліки, зокрема, проблеми з безпекою та відсутність єдиної версії для всіх пристроїв, що може призвести до проблем зі сумісністю та оновленнями.
            </div>
        </div>
    </div>
{% endblock %}