{% extends 'main/index.html' %}
{% load static %}

{% block main_title %}Викладач{% endblock %}

{% block main_cont %} 
<div class="view_content">
    <div class="first_block">
        <div class="circle_1"></div>
        <div class="circle_2"></div>
        <div class="container">
            <div class="photo_shadow_tch"></div>
            <div class="photo_teacher"><img src="{% static 'main/img/portfolio_.png' %}" alt=""></div>
            <div class="teacher_info">
                <div class="name"><b>MELESCHUK LUDMILA
                    VITALIYIVNA</b></div>
                <div class="teachr_descr">
                    <div class="tch_descr_1">
                        Телефон<br>
                        Почта<br>
                        Заклад освіти<br>
                        Ступінь освіти
                    </div>
                    <div class="tch_descr_2">
                        +38(098)-123-45-67<br>
                        meleschuklw@gmail.com<br>
                        Заклад освіти<br>
                        Магістр
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="teacher_block_2">
        <div class="container">
            <div class="autobiography_full" id="teach">
                    <p>У 2007 році в Рівненському державному гуманітарному
                        університеті отримала диплом магістра за спеціальністю «Прикладна математика», професійна кваліфікація – «Розробник обчислювальних систем та комп’ютерних програм, фахівці в інших галузях обчислень, математики».
                        З 2007 р. обіймає посаду викладача, викладає дисципліни «Інформатика», «Операційні системи», «Web-технології та web-дизайн», «Тестування програмних систем та комплексів».
                    Наукові інтереси: інноваційна діяльність та використання засобів ІКТ у підготовці здобувачів освіти, технології інтерактивного та дистанційного навчання</p>
                    <p>НАГОРОДЖЕНА:<br>
                        2018 році нагороджена грамотою ВСП «КПЕФК Луцького НТУ» за високий професійний рівень виконання службових обов’язків;<br>
                        2019 році нагороджена подякою обласної організації профспілки працівників освіти і науки за сумлінну працю, високу професійну майстерність;<br>
                        2019 році нагороджена дипломом ВСП «КПЕФК Луцького НТУ» за за креативний підхід, творчі ідеї, за злагоджену командну роботу;<br>
                        2019 році нагороджена дипломом третього ступеня за зайняте ІІІ місце на ХХІV обласній виставці дидактичних і методичних матеріалів «Творчі сходинки педагогів Волині».<br>
                        2021 році нагороджена дипломом другого ступеня за активну участь у ХХVІ обласній виставці дидактичних і методичних матеріалів «Творчі сходинки педагогів Волині».<br>
                        2022 році нагороджена грамотою ВСП «КПЕФК Луцького НТУ» за добросовісне виконання посадових обов’язків.</p>

                    <p>ОСВІТА:<br>
                        2002-2006р. – Рівненський державний гуманітарний університет, отримала базову вищу освіту за напрямом підготовки «Прикладна математика», здобула кваліфікацію бакалавра прикладної математики.<br>
                        2006-2007р. – Рівненський державний гуманітарний університет, отримала повну вищу освіту за спеціальністю «Прикладна математика», здобула кваліфікацію викладача прикладної математики у вищих навчальних закладах, спеціаліста прикладної математики.<br>
                        2007р. – викладач інформатики та математики у КПЕКЛНТУ.<br>
                        2013р. – викладач інформатики та фахових дисциплін спеціальності 122 Комп’ютерні науки у ВСП«КПЕФКЛНТУ».</p>
                    <p>ПІДВИЩЕННЯ КВАЛІФІКАЦІЇ:<br>
                        з 26 лютого по 26 червня 2019 року пройшла навчання в Луцькому національному технічному університеті. Свідоцтво про підвищення кваліфікації СПВ 05477296/000125-19.<br>
                        Маріупольський будівельний коледж, Всеукраїнська наукова конференція для творчої молоді «ПЕРСПЕКТИВА-2020». Сетрифікат учасника No 004/0350 від 24.04.2020р.<br>
                        Навчання на платформі масових відкритих онлайн-курсів Prometheus. Сертифікат про проходження онлайн-курсу «Освітні інструменти критичного мислення» No 7 від 29 червня 2021р.<br>
                        Сертифікат про проходження онлайн-курсу «Медіаграмотність для освітян» No 9 від 6 червня 2022р.<br>
                        Сертифікат про проходження онлайн-курсу «Освіта для всіх: різноманітність, інклюзія та фізичний розвиток». No 9 від 6 червня 2022р.<br>
                        Cертифікат про проходження онлайн-курсу «Що повинен знати лідер освітнього стартапа». No від червня 2023р.<br>
                        Сертифікат про проходження дистанційного курсу «Цифрові інструменти Google» для освітян.</p>
            </div>
    </div>
</div>
<div class="certificates">
    <img class="serct_styly" src="{% static 'main/img/sertificate-1.png' %}" alt="">
    <img class="serct_styly" src="{% static 'main/img/sertificate-2.png' %}" alt="">
    <img class="serct_styly" src="{% static 'main/img/sertificate-3.png' %}" alt="">
    <img class="serct_styly" src="{% static 'main/img/sertificate-4.png' %}" alt="">
    <img class="serct_styly" src="{% static 'main/img/sertificate-5.png' %}" alt="">
    <img class="serct_styly" src="{% static 'main/img/sertificate-6.png' %}" alt="">
</div>
</div>
{% endblock %}