{% extends 'main/index.html' %}
{% load static %}


{% block main_title %}WEB-технології{% endblock %}

{% block main_cont %} 
    {% with img_url_lessons="static/main/img/web-tech.jpeg" slogan_lessons="1. Створюй свій веб світ разом з нами!<br>2. Web-технології - розширюй можливості своєї онлайн присутності!<br>3. Створюйте дивовижний веб світ з найкращими технологіями!<br>4. Web-технології - це ключ до успіху в онлайн просторі!<br>5. Відкрийте нові можливості веб-розробки з нами!<br>6. Web-технології - перетворіть ваші ідеї в онлайн дійсність!<br>7. З найсучаснішими web-технологіями ваш сайт буде неперевершеним!<br>8. Використовуйте найкращі web-технології для створення вражаючих веб-сайтів!<br>9. Створюйте простір, який здивує весь інтернет!<br>10. Web-технології - змінюйте світ вебу на краще!" %}
        {% include 'main/DRY_lessons.html' %}
    {% endwith %}

    <div class="container">
        <ul class="head_ul">
            <li><a>Екзамен</a>
                <ul class="body_ul">
                    <li><a href="{% static 'main/pdf_files/web/web_ekx_bilet.pdf' %}" class="body_link">Екзаменнаційні біліети</a></li>
                    <li><a href="{% static 'main/pdf_files/web/web_count_ques.pdf' %}" class="body_link">Перелік питань до екзам</a></li>
                </ul>
            </li>
            <li>
                <a>ККР</a>
                <ul class="body_ul">
                    <li><a href="{% static 'main/pdf_files/web/count_KKR.pdf' %}" class="body_link">Завдання по варіантах ККР</a></li>
                    <li><a href="{% static 'main/pdf_files/web/web_KKR_package.pdf' %}" class="body_link">Пакут матеріалів ККР</a></li>
                </ul>
            </li>
            <li>
                <a>Конспек лекцій</a>
                <ul class="body_ul">
                    <li><a href="{% static 'main/pdf_files/web/web_conspekt_1.pdf' %}" class="body_link">Конспект лекцій (частина 1)</a></li>
                    <li><a href="{% static 'main/pdf_files/web/web_conspekt_2.pdf' %}" class="body_link">Конспект лекцій (частина 2)</a></li>
                    <li><a href="{% static 'main/pdf_files/web/web_develop_guide.pdf' %}" class="body_link">Методична вказівки до розробки</a></li>
                </ul>
            </li>
            <li>
                <a>Контроль знань</a>
                <ul class="body_ul">
                    <li><a href="{% static 'main/pdf_files/web/Інструкція до завдання  з теми веброзробка.pdf' %}" class="body_link">Інструкція до завдання  з теми веброзробка</a></li>
                    <li><a href="{% static 'main/pdf_files/web/Перелік питань до екзамену.pdf' %}" class="body_link">Перелік питань до екзамену</a></li>
                    <li><a href="{% static 'main/pdf_files/web/Розподіл тестових завдань з теми веброзробка.pdf' %}" class="body_link">Розподіл тестових завдань з теми веброзробка</a></li>
                    <li><a href="{% static 'main/pdf_files/web/Тестові завдання з теми основи HTML.pdf' %}" class="body_link">Тестові завдання з теми основи HTML</a></li>
                </ul>
            </li>
            <li>
                <a>Контрольна робота</a>
                <ul class="body_ul">
                    <li><a href="{% static 'main/pdf_files/web/Контрольна робота 1.pdf' %}" class="body_link">Контрольна робота 1</a></li>
                    <li><a href="{% static 'main/pdf_files/web/Контрольна робота 2.pdf' %}" class="body_link">Контрольна робота 2</a></li>
                </ul>
            </li>
            <li><a href="{% static 'main/pdf_files/web/навчальна програма.pdf' %}">Навчальна програма</a></li>
            <li><a href="{% static 'main/pdf_files/web/Робоча програма освітнього компонента.pdf' %}">Робоча програма освітнього компонента</a></li>
        </ul>
    </div>



        <div class="container">
            <div class="block">
                <div class="intro_content">
            Web-технології є невід'ємною частиною сучасного інтернету. Вони включають в себе широкий спектр інструментів та технологій, які дозволяють розробляти та використовувати веб-сайти та веб-додатки. 

Одна з основних технологій, що використовується веб-розробкою, є HTML (HyperText Markup Language). HTML дозволяє створювати структуру веб-сторінок, задавати розміщення та візуальний вигляд елементів, таких як текст, зображення, форми та інші.

Для стилізації веб-сторінок використовуються CSS (Cascading Style Sheets). CSS дає можливість задавати вигляд та розміщення елементів на сторінці, кольори, шрифти та інші візуальні аспекти.

Для динамічного та інтерактивного взаємодії з користувачем використовуються JavaScript та його бібліотеки та фреймворки. JavaScript дозволяє створювати складні веб-додатки та взаємодіяти з користувачем без необхідності перезавантаження сторінки.

Для зберігання та обробки даних на стороні сервера використовуються мови програмування, такі як PHP, Python, Ruby та інші. Ці мови дозволяють зберігати дані у базах даних та оброблювати їх з метою відображення на сторінці чи зберігання до довідників.

Окрім основних технологій, веб-розробка включає в себе багато інших інструментів та технологій, таких як фронтенд та бекенд фреймворки, системи контролю версій, серверні програми та інші.

У цілому, веб-технології є широкою та швидко зростаючою областю розробки.
        </div>
        </div>
        </div>

        <div class="container">
            <div class="block">
                <div class="intro_content">
                    Динамічна взаємодія з користувачем є важливою складовою сучасних веб-додатків. Вона дозволяє створювати інтерактивні та живі веб-сторінки, які забезпечують більш зручний та ефективний досвід користувача.

Одним з основних інструментів для динамічної взаємодії з користувачем є JavaScript. JavaScript є мовою програмування, яка дозволяє взаємодіяти з елементами сторінки та змінювати їх в реальному часі. Наприклад, він може забезпечувати анімаційні ефекти, показувати повідомлення про помилки, забезпечувати валідацію форм та багато іншого.

Окрім самої мови JavaScript, для розробки динамічних веб-додатків використовуються його бібліотеки та фреймворки, такі як React, Angular та Vue.js. Ці інструменти дозволяють створювати більш складні веб-додатки та забезпечують більш продуктивний процес розробки.

Одним з основних методів динамічної взаємодії з користувачем є використання AJAX (Asynchronous JavaScript and XML) запитів. AJAX дозволяє здійснювати асинхронні запити до сервера та отримувати нові дані без перезавантаження сторінки. Наприклад, при пошуку на сайті, AJAX може забезпечувати миттєве відображення результатів пошуку без перезавантаження сторінки.

Крім того, для динамічної взаємодії з користувачем використовуються такі інструменти, як WebSocket, Server-Sent Events (SSE) та WebRTC. WebSocket дозволяє забезпечувати двосторонню зв'язок між браузером та сервером у реальному часі.
                </div>
            </div>
        </div>

        <div class="container">
            <div class="block">
                <div class="intro_content">
                    Дійсно, для зберігання даних в сучасних веб-додатках використовуються різні технології. Деякі з них включають:

Кешування: це процес зберігання даних у пам'яті, щоб покращити швидкодію веб-додатка. Кешування дозволяє зменшити кількість запитів до бази даних, що дозволяє значно зменшити час відповіді сервера. Наприклад, використання кешування може бути особливо корисним для веб-сайтів, які мають велику кількість відвідувачів та обмінюються часто оновлюваною інформацією.
Сховища ключ-значення: це технологія зберігання даних, що забезпечує швидкий доступ до даних за допомогою ключа. Ключі можуть бути будь-якого типу даних, включаючи рядки, числа та інші. За допомогою сховищ ключ-значення можна швидко зберігати та отримувати дані, що дозволяє прискорити виконання запитів до бази даних та знизити навантаження на сервер.
Хмарні технології: це технології, що дозволяють зберігати та обробляти дані на серверах, які розташовані в хмарі. Це дозволяє забезпечити високу доступність та масштабованість веб-додатків. Хмарні технології також забезпечують автоматичне резервне копіювання та відновлення даних, що дозволяє зменшити ризики втрати даних.
Блокчейн (англ. blockchain) - це розподілена база даних, яка забезпечує безпеку, надійність та масштабованість. Блокчейн забезпечує безпеку за рахунок криптографічних методів шифрування, що дозволяє захистити дані від несанкціонованого доступу. Ця технологія дозволяє зберігати та обробляти дані в децентралізованому середовищі, тобто дані зберігаються на різних комп'ютерах, що розташовані по всьому світу, а не на одному централізованому сервері.

Блокчейн складається з блоків, які з'єднані між собою. Кожен блок містить інформацію про транзакції, які відбулися в мережі, та хеш-значення попереднього блоку. Хеш-значення - це унікальний код, який використовується для ідентифікації блоку. Кожен новий блок підтверджується мережею, що дозволяє забезпечити високий рівень надійності та безпеки.

Одним з головних принципів блокчейн-технології є безпека даних. Дані в блокчейні захищені від випадкових помилок та кібератак. Більшість блокчейн-мереж використовують криптографічний протокол, який дозволяє захистити дані від несанкціонованого доступу та підробки.

Блокчейн може використовуватися для зберігання та обробки даних у різних галузях, включаючи фінанси, логістику, медицину, нерухомість та інші. Наприклад, блокчейн може допомогти у підтримці цифрових ідентифікаторів, що дозволить забезпечити більш безпечний доступ. 
                </div>
            </div>
        </div>
        <div class="container">
            <div class="block">
                <div class="intro_content">
                    Так, AJAX (абревіатура від Asynchronous JavaScript and XML) - це технологія, яка дозволяє забезпечити динамічну взаємодію між веб-сторінкою та сервером без перезавантаження сторінки. AJAX дозволяє асинхронно відправляти та отримувати дані з сервера за допомогою JavaScript без необхідності оновлювати всю сторінку.

AJAX був розроблений з метою поліпшення користувацького досвіду веб-додатків. Завдяки використанню AJAX можна реалізувати швидкий та плавний інтерфейс, який відповідає на дії користувача майже миттєво. За допомогою AJAX можна динамічно оновлювати окремі частини сторінки, такі як таблиці, списки, форми та інші елементи, що дозволяє забезпечити більш гладкий та швидкий досвід користувача.

Одним з основних прикладів використання AJAX є динамічна підгрузка контенту на сторінці без перезавантаження. Коли користувач прокручує сторінку, новий контент може автоматично завантажуватися, що дозволяє забезпечити більш комфортний досвід користувача та покращити продуктивність веб-додатку.

Загалом, AJAX є потужним інструментом для покращення динаміки та ефективності веб-додатків, що дозволяє забезпечити більш зручний та привабливий інтерфейс для користувачів.
                </div>
            </div>
        </div>
{% endblock %}



