{% extends 'word/index_same_files.html' %}
{% load static %}


{% block diff_style_same_files %}
<style>
    .bar_header{
        width: 100%;
        height: 100px;
        background: #6d308e;
    }
    .menu li:hover >ul > li{
        background: #b97bdf;
    }
    .footer{
    background: #2d153d;
    }
</style>
{% endblock %}

    {% block name_same_files_1 %}Головна{% endblock %}
    {% block name_same_files_2 %}Про HTML/CSS{% endblock %}


    {% block link_same_files_1 %}{% url 'home' %}{% endblock %}
    {% block link_same_files_2 %}{% url 'web_technologies' %}{% endblock %}

{% block practice_same_files %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $(".submit_value_web").click(function(e) {
            e.preventDefault();
            var value = $(this).siblings(".input_form_web").val();
            $.ajax({
                type: "GET",
                url: "{% url 'lesson_web' %}",
                data: {
                    'lesson_web': value,
                },
                success: function(data) {
                    window.location.href = "{% url 'lesson_web' %}?web_lesson=" + value;
                }
            });
        });
    });
</script>


    <li>
        <input value="1" name="value-practice" readonly class="input_form_web">
        <button type="button" class="submit_value_web">Практична робота №1</button>
    </li>
    <li>
        <input value="2" name="value-practice" readonly class="input_form_web">
        <button type="button" class="submit_value_web">Практична робота №2</button>
    </li>
    <li>
        <input value="3" name="value-practice" readonly class="input_form_web">
        <button type="button" class="submit_value_web">Практична робота №3</button>
    </li>
    <li>
        <input value="4" name="value-practice" readonly class="input_form_web">
        <button type="button" class="submit_value_web">Практична робота №4</button>
    </li>
    <li>
        <input value="5" name="value-practice" readonly class="input_form_web">
        <button type="button" class="submit_value_web">Практична робота №5</button>
    </li>
    <li>
        <a href="{% url 'control_work1' %}">Контрольна робота №1</a>
    </li>

{% endblock %}

