{% extends 'excel/index_excel.html' %}
{% load static %}


{% block title_same_files %}Контрольна робота №2{% endblock %}

{% block content_same_files %}
<div class="container">
    <div class="block">
        <div class="intro_content">
            
            <h2>Контрольна робота №2</h2>

            <p> Тема: Технологія застосування функцій у таблицях. Операції редагування таблиць. Фільтрація даних.<br>
                Мета: Познайомитися з загальними правилами редагування таблиць. Отримати навички роботи з логічною функцією ЕСЛИ та з функцією ПРОСМОТР за допомогою майстра функцій. Використання складних функцій. Навчитися використовувати автофільтр та розширений фільтр.<br>
            <br><p>Хід роботи:</p>

            <ol class="decimal">
                <li>Оформити Довідник посад, що містить оклади. Загальна кількість робітничих днів є константою для кожного місяця.</li>
                <div>
                    <img src="{% static 'excel/img/39.png' %}" alt="Alt" class="img_exc">
                </div>
                <li>На тому ж самому листі оформити Відомість заробітної плати по відділу за січень.</li>
                <div>
                    <img src="{% static 'excel/img/40.png' %}" alt="Alt" class="img_exc">
                </div>
                <li>Підрахувати суму налічених грошей за відпрацьовану кількість днів по формулі:
                    <ul>
                        <li>«Налічене = (Оклад/Загальна кіл-ть днів)*Відпрац. дні»</li>
                        <li>Оклад слідує одержувати з таблиці Довідник посад, застосувавши функцію
                            ПРОСМОТР, де розшукуване значення - це посада кожного з робітників, а масив – це діапазон чарунок, в яких розміщена                                     таблиця Довідник посад (слідкуйте за однаковістю в назві текстових полів).</li>
                        <li>Премія дорівнює 20% від налічених грошей.</li>
                        <li>Загальна сума грошей обчислюється по формулі: «Сума=Налічене+Премія»</li>
                    </ul></li>
                <li>Підрахувати Прибутковий податок, який розраховується з наступних умов:
                    Якщо Сума < 100, то прибутковий податок дорівнює 0.
                    Якщо Сума < 200, то прибутковий податок дорівнює 10% від Суми. Якщо Сума >=200, то прибутковий податок дорівнює 20% від Суми. (Використати вкладені функції ЕСЛИ).</li>
                <li>Підрахувати Пенсійний фонд, який дорівнює 2% від Суми.</li>
                <li>Підрахувати Суму до видавання, яка розраховується по формулі:
                     «Сума до видавання=Сума - Прибутковий податок - Пенсійний фонд»</li>
                <li>Підрахувати загальну суму по полю Сума до видавання.</li>
                <li>Скласти аналогічну відомість для лютого. Для цього на Лист2 скопіювати таблицю
                    Довідник посад, змінити в ній дані по полю Кількість відпрацьованих днів: для лютого
                    - 17, та скопіювати таблицю Відомість заробітної плати, де в полі Відпрацьовані дні
                    внести зміни згідно табеля. Простежити за змінами, які відбуваються автоматично при
                    переобчисленні формул.</li>
                <div>
                    <img src="{% static 'excel/img/41.png' %}" alt="Alt" class="img_exc"></div>
                <li>Скласти на ЛистіЗ аналогічну відомість для березня. Кількість відпрацьованих днів: для березня — 21.</li>
                <div>
                    <img src="{% static 'excel/img/42.png' %}" alt="Alt" class="img_exc">
                </div>
                <li>Оформити на Листі4 загальну відомість за квартал. Загальна відомість за квартал</li>
                <div>
                    <img src="{% static 'excel/img/43.png' %}" alt="Alt" class="img_exc">
                </div>
                <li>Підрахувати суму грошей, отриманих кожним робітником за квартал. Сума дорівнює сумі грошей, отриманих за кожний місяць ( у формулі для обчислення суми повинні бути посилання на чарунки Листа1, Листа2, Листа3, де знаходяться суми, які були отримані за кожен місяць).</li>
                <li>Зробити Автофильтр (автоматичний фільтр) в таблиці Відомість заробітної плати за березень. Показати всіх робітників, які отримали суму грошей > 150 (пункт меню Данние/Фильтр/Автофильтр).</li>
                <li>Зняти автофільтр.</li>
                <li>Побудувати Розширений фільтр (пункт меню Данние/Фильтр/Розширенний фильтр). Основною базою є таблиця Відомість заробітної плати за березень. Спочатку результат фільтрації слід розмістити на місці базової таблиці (у діалоговому вікні Розширеного фільтру включити перемикач Фильтровать список на месте). У вікні Диапазон условий вказати діапазон чарунок, де знаходиться наступна таблиця:</li>
                <div>
                    <img src="{% static 'excel/img/44.png' %}" alt="Alt" class="img_exc"></div>
                <li>Побудувати аналогічний Розширений фільтр по тій же самій умові фільтрації, тільки результат фільтрації слід розмістити на вільному місці, тобто на чарунках, де знаходиться цільова область. Для цього у діалоговому вікні Розширеного фільтру треба включити перемикач Скопировать результат в другое место. У вікні Поместить результат в диапазон вказати діапазон чарунок, де знаходиться наступна таблиця:</li>
                <div>
                    <img src="{% static 'excel/img/45.png' %}" alt="Alt" class="img_exc"></div>
                <li>Зберегти документ у папці «Група <номер групи>», надавши йому ім’я Компл_Практична_Excel_10.</li>
                <li>Показати виконану роботу Викладачу.</li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}