{% extends 'excel/index_excel.html' %}
{% load static %}


{% block title_same_files %}Контрольна робота №1{% endblock %}

{% block content_same_files %}
<div class="container">
    <div class="block">
        <div class="intro_content">
            
            <h2>Контрольна робота №1</h2>

            <p><h2>Завдання: 1</h2> Оформити звіт про товарообіг за поточний день по зразку</p><br>
                        
                <h2>Хід роботи:</h2>

                    <ol class="decimal">
                        <li>Оформити звіт про товарообіг за поточний день по даному зразку.</li>
                        <li>За допомогою команди розвернути текст у деяких заголовках на 90º (дивіться зразок).</li>
                        <li>За допомогою команди у деяких заголовках включити перемикач для переносу тексту по словам (дивіться зразок).</li>
                        <li>Для інших комірок, де знаходяться заголовки, вибрати вирівнювання по центру.</li>
                        <li>З'єднати потрібні комірки у заголовках таблиці (дивіться зразок).</li>
                        <li>За допомогою команди у всіх колонках, де буде писатися ціна товару та сума грошей перейти до грошового формату.</li>
                        <div>
                            <img src="{% static 'excel/img/36.png' %}" alt="Alt" class="img_exc">
                        </div>
                        <li>Провести обчислення у таблиці згідно з наступними положеннями:
                            <p>Ціна витрат збільшується відносно ціни приходу на 15%.</p>
                            <p>Сума грошей, отриманих за продаж кожного виду товару дорівнює: «Ціна витрат * Кількість витрат».</p>
                            <p>Кількість товару, який залишився у магазині дорівнює «Кількість приходу - Кількість витрат».</p>
                            <p>Сума грошей за товар, який залишився  дорівнює: «Ціна витрат * Кількість зашлишку».</p></li>
                        <li>Підрахувати за допомогою команди Автосуммирование загальну суму грошей, отриманих після продажу товару за поточний день.</li>
                        <li>За допомогою майстра функцій знайти за продаж якого товару було вилучено найменш грошей, а за який товар - найбільш. Функції МИН та МАКС знаходяться у категорії функцій Статистические.</li>
                        <li>За допомогою команди розфарбувати рядки заголовків, провести границі між комірками.</li>
                        <li>Надати заголовок таблиці за допомогою WordArt.</li>
                        <li>Зробити фільтрацію даних за допомогою меню Дані- Фільтр-Сортування по спаданню по сумі Витрат.</li>
                        <li>Побудувати Діаграму за Назвою товару і Сумою на окремому листі і назвати лист «Діаграма».</li>
                        <li>Показати виконану роботу Викладачу.</li>
                    </ol>

                <br><h2>Завдання 2:</h2>

                    <ol class="decimal">
                        <li>Відкрити Новий лист (Лист2) програми MS Excel.
                            <p>Занести дані на першому листі книги до таблиці за зразком</p>
                            <p>Ввести додатково прізвища 15 студентів.</p></li>
                        <div>
                            <img src="{% static 'excel/img/37.png' %}" alt="Alt" class="img_exc">
                        </div>
                        <li>Перейменуйте Лист 2 книги на Завдання2.</li>
                        <li>Введіть в стовпці таблиці Бал за 1 семестр,  Бал за 2 семестр, бали (від 1 до 12).</li>
                        <li>Введіть в стовпці таблиці Пропущено за 1 семестр, Пропущено за 2 семестр, к-сть пропущених днів (від 0 до 20).</li>
                        <li>Використовуючи функції обчисліть середній бал за 2 семестри  та загальну к-сть пропусків за 2 семестри.</li>
                        <li>Використовуючи логічну функцію ЕСЛИ та И, введіть у комірки стовпця Результат умову для порівняння середнього бала та к-сті пропусків кожного учня з прохідним балом та допустимою к-стю пропусків. Результатом порівняння буде текстове повідомлення (ЗАРАХОВАНО або НЕЗАРАХОВАНО). Прохідний бал – 7, а допустима к-сть пропусків – 15.</li>
                        <li>Побудувати діаграму успішності на окремому листі за пунктами ПІП, Середній бал, Пропущено.</li>
                        <li>Перейменуйте Лист 3  на Діагрума успішності.</li>
                        <li>Зробити фільтрацію даних за допомогою меню Дані-Фільтр-Автофільтр.</li>
                        <li>Надати заголовок таблиці за допомогою WordArt.</li>
                    </ol>

                <br><h2>Завдання 3 (Додатково):</h2>

                    <p>На Листі 4 створити таблицю «Нарахування заробітної плати викладачам коледжу» (мінімум 5 вчителів, дані вносити на свій розсуд) такого типу:</p>
                    <div>
                        <img src="{% static 'excel/img/38.png' %}" alt="Alt" class="img_exc">
                    </div>
                    <p>Примітка: Повна ставка–це 720 год. за семестр. Плата за ставку від 700(неповна ставка) до 850 грн.</p>
                    <ol class="decimal">
                        <li>В таблиці повинні бути вчителі, які мають повну ставкунеповну ставку, і більше ставки.</li>
                        <li>В стовпчиках F(комірка F2) отрібно ввестиE2:720</li>
                        <li>В стовпчиках J(комірка J2) потрібно ввF2+G2+C2*3,3</li>
                        <li>В стовпчиках K( комірка K2)  потрібно ввести формули, наприклад: J2–J2∙15:100– J2∙12:100</li>
                    <ol>
        </div>
    </div>
</div>
{% endblock %}