{% load static %}


<div class="container">
    <div class="block">
        <div class="intro_content">
            
            <h2><b>Практична робота №3</b></h2>

            <p>Тема:Використання формул. Абсолютні і відносні адреси комірок.<br>
            Мета:Сформувати в учнів практичні навички опрацювання табличної інформації за допомогою формул, використання в них абсолютних і відносних адрес комірок. Закріпити навички введення і форматування даних в електронних таблицях.<br>
            <br>Хід роботи:</p>
                <ol class="decimal">
                    <li>Викликати програму Excel.</li>
                    <li>Занести дані до таблиці за зразком .</li>
                    <li>Розрахувати загальну площу і кількість населення всього світу.</li>
                    <li>Розрахувати за формулами відсоток площі кожного регіону. (Зробити комірку D7 активною. Занести формулу «=С7/$С$12». За допомогою маркера заповнення скопіювати цю формулу на діапазон D7: Dll. Вибрати для цього діапазону формат — Процентный, встановити 2 десяткові знаки).</li>
                    <div>
                        <img src="{% static 'excel/img/20.png' %}" alt="Alt" class="img_exc">
                    </div>
                    <li>Розрахувати за формулами відсоток населення кожного регіону.</li>
                    <li>Відформатувати таблицю за зразком. •Об'єднати комірки діапазону В2: Е2. (Виділити комірки і натиснути кнопку панелі інструментів). Об'єднати також комірки діапазонів В5: В6, C5:D5 i E5:F5.
                        <ul class="decimal">
                            <li>Надати стиль шрифту і вирівнювання тексту за зразком.</li>
                            <li>Оформити таблицю рамкою і кольором за зразком .</li>
                            <div>
                                <img src="{% static 'excel/img/21.png' %}" alt="Alt" class="img_exc">
                            </div>
                        </ul>
                    </li>
                    <li>Зберегти документ у папку «Група <номер групи>», на давши йому ім’я Практична_Excel_3_1.</li>
                    <li>Показати виконану роботу Викладачу.</li>
                </ol>
        </div>
    </div>
</div>