{% load static %}


<div class="container">
    <div class="block">
        <div class="intro_content">
            
            <h2><b>Практична робота №4</b></h2>

            <p>Тема: Робота з об'єктами в електронних таблицях. Побудова графіків.<br>
            Мета: Сформувати в студентів практичні навички роботи з такими об'єктами в електронних таблицях, як комірки, діапазони комірок, аркуші, малюнки та графіки. Розглянути можливості заповнення комірок елементами прогресії. Закріпити навички введення і форматування даних в електронних таблицях.<br>
            <br><b>Завдання 1:</b> Відомо, що після того, як 1 вересня 2006 року в місті N з'явився перший комп'ютерний вірус, кожен місяць їх кількість стала подвоюватися. Підготувати статистичний звіт про кількість вірусів за період з 1 вересня 2006 року до 01 жовтня 2020 року. Побудувати заданими графік і діаграму. Оформити їх.</p>
            <div>
                <img src="{% static 'excel/img/22.png' %}" alt="Alt" class="img_exc">
            </div><br>
            <p>Хід роботи:</p>
                <ol class="decimal">
                    <li>Викликати програму Excel.</li>
                    <li>Занести в комірку А1 заголовок «Дата», у комірку В1 — «Кількість вірусів».</li>
                    <li>Занести в комірку А2 дату «01.09.06», у комірку В2 — число 1.</li>
                    <li>Заповнити стовпець «Дата» за прогресією. (Зробити комірку А2 активною. У вікні діалогу команди меню Правка/Заполнить/Прогрессия встановити параметри:
                    •Прогрессия — по столбцам; •Тип — дата; •Единица даты — месяц; •Предельное значение — 01.10.20).
                    </li>
                    <li>Заповнити стовпець «Кількість вірусів» прогресією. (Виділити діапазон В2: В15. У вікні діалогу команди меню Правка/Заполнить/Прогрессия встановіть параметри:
                    •Прогрессия — по столбцам; •Тип — геометрическая; •Шаг — 2).
                    </li>
                    <li>Перемістити таблицю на п'ять рядків униз і на один стовпець вправо. (Виділити діапазон комірок А1: В15. Встановити курсор миші на межі виділеного діапазону. Натиснувши ліву кнопку миші, відбуксувати діапазон у нове місце).</li>
                    <li>Відформатувати таблицю за зразком.</li>
                    <li>За допомогою Word-Art надати заголовок таблиці за власним бажанням.</li>
                    <div>
                        <img src="{% static 'excel/img/23.png' %}" alt="Alt" class="img_exc">
                    </div>
                    <li>Побудувати за даними графік такий, як показано на малюнку. (Виділити таблицю. Викликати майстер діаграм командою меню Вставка/Диаграмма або кнопкою панелі інструментів. У першому вікні діалогу вибрати тип і вид графіка. У наступних у разі необхідності внести зміни, орієнтуючись на зображення графіка. Готовому графіку надати необхідний розмір і розмістити справа від таблиці).</li>
                    <li>Додати малюнок до таблиці з Clip Gallery.</li>
                    <li>Перейменувати Лист 1 і Лист 2 на Вірус 1 і Вірус 2 відповідно. (Команда меню Формат/Лист/Переименовать).</li>
                    <li>Зберегти документ у папці «Група <номер групи>», надавши йому ім’я Практична_Excel_4_1.</li>
                </ol>
            <br><p><b>Завдання 2:</b></p>
                <ol class="decimal">
                    <li>Запустити табличний процесор Excel.</li>
                    <li>Створити кругову діаграму розподілу акцій компанії «Vektor» між власниками за наведеним нижче зразком.</li>
                    <div>
                        <img src="{% static 'excel/img/24.png' %}" alt="Alt" class="img_exc">
                    </div>
                    <p>Діаграма повинна включати легенду, поміщену справа, де кожен колір буде відповідати прізвищу власника. На самій діаграмі потрібно розмістити надписи, що будуть включати в себе категорію і долю кожного власника в процентному відношенні.</p>
                    <li>Зберегти документ у папці «Група <номер групи>», надавши йому ім’я Практична_Excel_4_2.</li>
                </ol>
            <br><p><b>Завдання 3:</b></p>

                <ol class="decimal">
                    <li>Створити графік курсу валюти за рік за наведеним нижче зразком.</li>
                    <div>
                        <img src="{% static 'excel/img/25.png' %}" alt="Alt" class="img_exc">
                    </div>
                    <li>Зберегти документ у папці «Група <номер групи>», надавши йому ім’я Практична_Excel_4_3.</li>
                </ol>

            <br><p><b>Завдання 4:</b></p>

                <ol class="decimal">
                    <li>Створити гістограми (стовпчасті діаграми) кількості продажу умовного товару 1 і 2 за рік окремо за даними, поданими нижче.</li>
                    <div>
                        <img src="{% static 'excel/img/26.png' %}" alt="Alt" class="img_exc">
                    </div>
                    <li>Зберегти документ у папці «Група <номер групи>», надавши йому ім’я Практична_Excel_4_4. Показати виконану роботу Викладачу.</li>
                </ol>

        </div>
    </div>
</div>