{% load static %}


<div class="container">
    <div class="block">
        <div class="intro_content">
            <h2><b>Практична робота №1</b></h2>

            <p>Тема:Табличний процесор Excel. Робота з аркушем. Введення та редагування даних.<br>
            Мета:Набуття практичних навичок у створенні, редагуванні електронних таблиць і виконанні в них арифметичних операцій.<br>
            <br><b>Завдання 1:</b>Для заданої таблиці, у якій наведені результати іспитів, створити електронну таблицю, виконати її редагування.</p>
            <div>
                <img src="{% static 'excel/img/14.png' %}" alt="Alt" class="img_exc">
            </div>
            <p>Хід роботи:</p>
            <ol class="decimal">
                    <li>Із дозволу викладача ввімкніть комп'ютер і завантажте табличний процесор MS Excel (Пуск\Программы\ Microsoft Office\Microsoft Excel 2010).</li>
                    <li>У таблиці 1 наведено результати іспитів. Створіть відповідну електронну таблицю.</li>
                    <li>Внесіть до створеної електронної таблиці такі зміни: замість предмета "Геометрія" введіть "Алгебра"; замість прізвища "Сомов І.Н." уведіть прізвище "Костенко І.А."; учневі Перілко В.О. замініть оцінку "З" з фізи¬ки на оцінку "4".</li>
                    <li>Викресліть із електронної таблиці рядок, у якому зазначено прізвище Перілко В.О.</li>
                    <li>Якщо всі попередні пункти виконано правильно, ви отримаєте електронну таблицю з даними, наведеними в таблиці 2.</li>
                    <li>Додайте ще один новий лист і назвіть його своїм ім’ям. (ПКМ на назві листа-Перейменувати)</li>
                    <li>Перенесіть всю інформацію на цей лист.</li>
                    <li>Введіть у поле Прізвища- прізвища своїх одногрупників.</li>
                    <li>Надати стиль шрифту і вирівнювання тексту за зразком. (Вертикальне вирівнювання тексту по центру можна встановити у вікні команди меню Формат/Ячейки на вкладинці Выравнивание).</li>
                    <li>Оформити таблицю за зразком (Вкладки Вид, Граница команди меню Формат/Ячейки).</li>
                <div>
                    <img src="{% static 'excel/img/15.png' %}" alt="Alt" class="img_exc">
                </div>
                    <li>Зберегти (Файл-Зберегти як) документ на диску D у своїй папці ( «Група <Прізвище>»), надавши йому ім'я Практична_Excel_1_1.</li>
                <br><h2>Додаткове завдання</h2>
                    <li>Вставити додатково 2 стовпці в кінці таблиці (Вставка-Стовпець).</li>
                    <li>Обчислити загальну суму балів та середні бал (Вставка-Функція-Sum, Average).</li>
                    <li>Підтвердіть збереження внесених змін (Файл-Зберегти).</li>
                </ol>
            <br><p><b>Завдання 2:</b>Ввести  подану  нижче  таблицю  та  від форматувати  її  за  зразком:</p>
            <div><img src="{% static 'excel/img/16.png' %}" alt="Alt" class="img_exc"></div>
            <ol class="decimal">
                    <li>Зберегти (Файл-Зберегти як) документ на диску D у своїй папці ( «Група <Прізвище>»), надавши йому ім'я Практична_Excel_1_2.</li>
                    <li>Покажіть одержані результати викладачу.</li>
                    <li>Закрийте програму MS Excel і вимкніть комп'ютер.</li>
                </ol>
        </div>
    </div>
</div>