{% load static %}


<div class="container">
    <div class="block">
        <div class="intro_content">
            
            <h2><b>Практична робота №6</b></h2>

            <p>Тема: Опрацювання табличної інформації за допомогою вбудованих функцій та операцій.<br>
            Мета: Сформувати в студентів практичні навички опрацювання табличної інформації за допомогою вбудованих функцій та операцій. Закріпити навички введення і форматування даних, побудови діаграм.</p><br>
           <p class="center"><b>Завдання:</b> 10 спортсменів-багатоборців брали участь у змаганнях з 10 видів спорту. За кожен вид спорту спортсмену нараховується деяка кількість балів у межах від 0 до 1000.
            <ol class="decimal">
                <li>Обчислити, скільки балів набрав кожен із спортсменів після закінчення змагань.</li>
                <li>Обчислити середню кількість балів, набрану спортсменами.</li>
                <li>Обчислити різницю балів лідера й аутсайдера.</li>
                <li>Побудувати діаграму за підсумками змагань.</li></p>
            </ol>
            <br><p>Хід роботи:</p>
            <ol class="decimal">
                <li>Викликати програму Excel.</li>
                <li>Занести дані до таблиці за зразком . (Для першого рядка таблиці на вкладниці Выравнивание у вікні команди меню Формат/Ячейки встановити вертикальну орієнтацію тексту).</li>
                <div>
                    <img src="{% static 'excel/img/29.png' %}" alt="Alt" class="img_exc">
                </div>
                <li>Занести до комірок результати змагань за допомогою математичної функції СЛЧИС (). (Виділити комірку В1. Викликати майстер функцій командою меню Вставка/Функция або кнопкою панелі інструментів. Вибрати серед математичних функцій СЛЧИС ()- Завершити введення функції. Домножити функцію на 1000, щоб кількість балів була в межах від 0 до 1000. Встановити формат Числовой, 0 дес. знаків. Скопіювати формулу на діапазон комірок В2: К11).</li>
                <li>Занести до комірок суми балів кожного спортсмена за допомогою математичної функції СУММ. (Виділити комірку L2. Натиснути кнопку ∑ панелі інструментів. Натиснути Enter. Скопіювати формулу на діапазон комірок L2: L11).</li>
                <li>Занести до комірок середню суму балів за допомогою статистичної функції СРЗНАЧ. (Виділити комірку L12. Викликати майстер функцій. Вибрати серед статистичних функцій функцію СРЗНАЧ. Перейти до другого вікна майстра. Указати діапазон аргументів L2: L11. Завершити введення функції).</li>
                <li>Обчислити різницю балів лідера й аутсайдера. (Виділити комірку L13. Викликати майстер функцій. Вибрати серед статистичних функцій функцію МАКС. Перейти до другого вікна майстра. Указати діапазон аргументів L2: L11. Завершити введення функції. Поставити у формулі знак «—». Викликати майстер функцій. Вибрати серед статистичних функцій функцію МИН. Перейти до другого вікна майстра. Указати діапазон аргументів L2: L11. Завершити введення функції).</li>
                <li>Відформатувати таблицю за зразком.</li>
                <div>
                    <img src="{% static 'excel/img/30.png' %}" alt="Alt" class="img_exc">
                </div>
                <li>Додати над таблицею 5 рядків і попереду 2 стовпця.</li>
                <li>За допомогою WordArt надати заголовок таблиці за власним бажанням.</li>
                <li>Побудувати діаграму за підсумками змагань і розмістити її під таблицею. (Для виділення двох окремих блоків комірок необхідно застосувати клавішу Ctrl).</li>
                <li>Оформити діаграму за зразком. (Виділити необхідний елемент діаграми. Викликати контекстне меню. Вибрати команду Формат. Встановити необхідні параметри).</li>
                <div>
                    <img src="{% static 'excel/img/31.png' %}" alt="Alt" class="img_exc">
                </div>
                <li>Зберегти документ у папці «Група <номер групи>», надавши йому ім’я  Практична_Excel_6_1.</li>
                <li>Показати виконану роботу Викладачу.</li>
            </ol>
        </div>
    </div>
</div>