{% load static %}


<div class="container">
    <div class="block">
        <div class="intro_content">
            
            <h2><b>Практична робота №8</b></h2>

            <p>Опрацювання табличної інформації за допомогою логічних функцій.<br>
            Мета: Сформувати в студентів практичні навички опрацювання табличної інформації за допомогою логічних функцій. Закріпити навички впорядковування даних в електронних таблицях, побудови діаграм.<br>
            <br><p><b>Завдання:</b>У сільськогосподарському кооперативі працює бригада з 12 сезонних робітників. Збирають яблука. Оплата залежить від кількості зібраних фруктів. Збір 1 кг яблук коштує 0,25 грн. Якщо робітником зібрано за день більше 50 кг яблук, то за кожен наступний кілограм йому заплатять по 0,50 грн.
                <ol class="decimal">
                    <li>Обчислити, скільки грошей отримає кожен робітник за день.</li>
                    <li>Обчислити, скільки яблук зібрала бригада за день.</li>
                    <li>Обчислити, скільки грошей заробила бригада.</li>
                    <li>З'ясувати, скільки яблук у середньому збирав робітник бригади.</li>
                    <li>Надати коментар стосовно роботи бригади за день.</li>
                    <li>Побудувати за оплатою робітників кругову діаграму, на якій відобразити у відсотках частку кожного робітника.</li>
                    <li>Упорядкувати таблицю так, щоб прізвища робітників були в алфавітному порядку.</li>
                </ol></p>
                    <br><p>Хід роботи:</p>

                    <ol class="decimal">
                        <li>Викликати програму Excel</li>
                        <li>Заповнити таблицю за зразком.</li>
                        <div>
                            <img src="{% static 'excel/img/33.png' %}" alt="Alt" class="img_exc">
                        </div>
                        <li>Для обчислення оплати скористатися логічною функцією ЕСЛИ. (Виділити комірку С2. Викликати майстер функцій. Вибрати серед логічних функцію ЕСЛИ. У наступному вікні діалогу занести у поля введення: умову В2<50 — у перше, вираз В2*0,25 — у друге, 12,5+(В2-50)*0,5 — у третє). Дані представити у відповідному форматі.</li>
                        <li>Обчислити, скільки яблук зібрала і скільки грошей заробила бригада за день.</li>
                        <li>Обчислити середній виробіток бригади.</li>
                        <li>Спираючись на середній виробіток бригади, у комірці С15 надати коментар стосовно роботи. (Застосувати логічну функцію ЕСЛИ).</li>
                        <li>Упорядкувати дані таблиці так, щоб прізвища робітників були розташовані за алфавітом.</li>
                        <li>Відформатувати таблицю за зразком.</li>
                        <li>Перемістити таблицю у центр вікна.</li>
                        <li>Надати заголовок таблиці.</li>
                        <li>Побудувати й оформити на листі 2 діаграму за зразком .</li>
                        <li>Перейменувати Лист 1 і Лист 2 на Оплата і Діаграма відповідно.</li>
                        <li>Обчислити загальну суму балів та середні бал (Вставка-Функція-Sum, Average).</li>
                        <li>Зберегти документ у папці «Група <номер групи>», надавши йому ім’я Практична_Excel_8_1.</li>
                    </ol>

                    <br><b>Завдання 2:</b>

                    <ol class="decimal">
                        <li>Скласти  довідку  по  магазину  про  заявки  на  продаж  побутових  товарів  за  безготівковим  розрахунком  на  підставі  наведених  даних:
                            Заявки  на  продаж  побутових  товарів  по  магазину  на        20   рік.</li>
                        <div>
                            <img src="{% static 'excel/img/34.png' %}" alt="Alt" class="img_exc">
                        </div>
                        <p>Sumi=Koli*Cenai+(Koli*Cenai*28)/100;</p>
                        <p>Zhi=Sumi-(Sumi*1,5)/100, якщо  Sumi>200, інакшеZhi=Sumi.</p>
                        <li>Перейти  на  другий  лист.</li>
                        <li>Визначити  суму  доплат  за  роботу  в  нічний  час  за  даними, наведеними  в  таблиці:</li>
                        <div>
                            <img src="{% static 'excel/img/35.png' %}" alt="Alt" class="img_exc">
                        </div>
                        <li>Зберегти документ у папці «Група <номер групи>», надавши йому ім’я Практична_Excel_8_2.</li>
                        <li>Показати виконану роботу Викладачу. </li>
                    </ol>
        </div>
    </div>
</div>