{% load static %}


<div class="container">
    <div class="block">
        <div class="intro_content">
            
            <h2><b>Практична робота №5</b></h2>

            <p>Тема: Побудова діаграм під час роботи з електронними таблицями.<br>
            Мета: Сформувати в студентів практичні навички побудови діаграм в електронних таблицях. Закріпити навички введення і форматування даних, заповнення комірок елементами прогресії, використання у формулах абсолютних, змітаних і відносних адрес комірок.<br>
            <br><b>Завдання:</b> У продавця зламався калькулятор. Для полегшення розрахунків з покупцями складіть продавцю «шпаргалку» — таблицю вартості товару від 100 г до 1 кг включно з інтервалом 100 г.</p>
                <br><p>Хід роботи:</p>

                <ol class="decimal">
                    <li>Викликати програму Excel.</li>
                    <li>Занести до комірок за зразком назви продуктів і їхні ціни у форматі Денежный.</li>
                    <div>
                        <img src="{% static 'excel/img/27.png' %}" alt="Alt" class="img_exc">
                    </div>
                    <li>Визначити для послідовності 0,1; 0,2; 0,3; ... 1 тип прогресії, крок і кінцеве значення. Занести до комірки С1 початкове значення прогресії — 0,1. Зробити комірку С1 активною. Викликати команду меню Правка/Заполнить/Прогрессия і встановити необхідні параметри.</li>
                    <li>Занести до комірки С2 формулу для обчислювання вартості 100 г горіхів. У формулі для подальшого її копіювання необхідно використати змішані адреси комірок. (Визначити, які елементи адрес формули у ході копіювання не повинні змінюватися, і поставити перед кожним з них символ «$ »).</li>
                    <li>Виділити комірку С2. За допомогою маркера заповнення скопіювати формулу на діапазон С2: С5.</li>
                    <li>Виділити діапазон С2: С5. За допомогою маркера заповнення скопіювати формули на діапазон С2: L5.</li>
                    <li>Перемістити таблицю на 4 рядки вниз і 1 стовпець вправо. Відкоригувати ширину стовпців.</li>                        
                    <li>Відформатувати таблицю за допомогою стандартного стилю.</li>
                    <li>За допомогою WordArt надати заголовок таблиці за власним бажанням.</li>
                    <li>Побудувати діаграму по цінах продуктів за зразком (Виділити діапазон В12: С15. Викликати майстер діаграм командою меню Вставка/Диаграмма або кнопкою на панелі інструментів. У першому вікні діалогу вибрати тип і вид діаграми. У наступних при необхідності внести зміни, орієнтуючись на зображення діаграми. Готовій діаграмі надати необхідний розмір і розмістити під таблицею).</li>                            
                    <div>
                        <img src="{% static 'excel/img/28.png' %}" alt="Alt" class="img_exc">
                    </div>
                    <li>Зберегти документ у папці «Група <номер групи>», надавши йому ім’я Практична_Excel_5_1.</li>
                </ol>
        </div>
    </div>
</div>