{% load static %}


<div class="container">
    <div class="block">
        <div class="intro_content">
            
            <h2><b>Практична робота №7</b></h2>

            <p>Тема: Впорядкування даних в електронних таблицях.<br>
                Мета: Сформувати в студентів практичні навички впорядковування даних в електронних таблицях. Закріпити навички опрацювання табличної інформації за допомогою вбудованих функцій та операцій, побудови діаграм.<br>
                <br><p><b>Завдання:</b> 10 студентів проходили тестування за 60-бальною шкалою з 5 предметів.
                <ol class="decimal">
                    <li>Обчислити, скільки всього балів набрав кожен з студентів.</li>
                    <li>Обчислити середній бал групи.</li>
                    <li>Знайти різницю між кращим результатом і середнім балом групи.</li>
                    <li> Побудувати діаграму за підсумками тестів.</li>
                    <li>Впорядкувати таблицю за рейтингом.</li>
                </ol></p>
                    <br><p>Хід роботи:</p>

                    <ol class="decimal">
                        <li>Викликати програму Excel.</li>
                        <li>Заповнити таблицю і відформатувати за зразком. (Числові дані вводити й обчислювати за формулами. Числа у вашій таблиці не обов'язково повинні співпадати з числами на малюнку).</li>
                        <div>
                            <img src="{% static 'excel/img/32.png' %}" alt="Alt" class="img_exc">
                        </div>
                        <li>За допомогою WordArt надати заголовок таблиці за власним бажанням.</li>
                        <li>Побудувати за результатами тестування діаграму й оформити її за зразком.</li>
                        <li>Упорядкувати таблицю за рейтингом. (На вкладниці Вычисления вікна діалогу команди меню Сервис/Параметры встановити перемикач на Вычисления вручную і вилучити прапорець Пересчёт перед сохранением. Виділити таблицю без останніх двох рядків. Викликати команду меню Данные/Сортировка. Встановити впорядкування за сумою, По убыванию).</li>
                        <li>Перейменувати Лист 1 і Лист 2 на Тестування і Діаграма відповідно.
                        Додаткове завдання: 1. Виділяємо весь діапазон комірок на листі Тестування і вибираємо меню Данные/Фильтр/Автофильтр.</li>
                        <li>Обчислити середній бал студентів по кожному з предметів (Добавати 1 стовпець після Суми і ввести відповідні формули)</li>
                        <li>Зберегти документ у папці «Група <номер групи>», надавши йому ім'я Практична_Excel_7.</li>
                        <li>Показати виконану роботу Викладачу.</li>
                    </ol>
        </div>
    </div>
</div>