{% load static %}

<div class="container">
    <div class="block">
        <div class="intro_content">
            
            <h2><b>Практична робота №2</b></h2>
            <p>Тема: Введення даних в електронних таблицях. Елементарні обчислення.
                        <br>Мета: Сформувати в учнів практичні навички із введення та форматування даних в електронних таблицях.<br>
                        <br>Хід роботи:</p>
                        <ol class="decimal">
                                <li>Викликати програму Excel.</li>
                                <li>Занести дані до таблиці (рис. 1) на першому аркуші (вкладка Лист1). Автоматично вводимо дані тільки в стовпчики (крiм рядка всього): Підручники, Ціна, Кількість, Придбали, Видали. В інших стовпцях дані рахуємо, використовуючи Формули.</li>
                                <li>Розрахувати за формулами загальну вартість підручників. (Зробити відповідну комірку активною. Поставити знак «=», виділити комірку з ціною підручника, поставити знак множення «*», виділити комірку з кількістю цих підручників, натиснути Enter).</li>
                                <li>Обчислити за допомогою формул, скільки підручників залишилось у бібліотеці.</li>
                                <li>Обчислити, скільки всього підручників придбали, яка їх загальна вартість і скільки всього їх залишилось у бібліотеці.</li>
                                <li>Відформатувати таблицю за зразком. 
                                    <p>Дозволити перенесення по словах тексту «Загальна вартість». (Зробити відповідну комірку активною. У вікні команди меню Формат/Ячейки на вкладинці Выравнивание встановити прапорець Переносить по словам). Відкоригувати ширину стовпця і висоту рядочка.
                                    Установити для комірок стовпців «Ціна» і «Загальна вартість» формат Денежный. (Виділити комірки. У вікні команди меню Формат/Ячейки на вкладниці Число вибрати формат Денежный, встановити 2 десяткові знаки й одиницю вимірювання — грн.).
                                    Установити для комірок стовпця «Придбали» формат Дата. (Виділити комірки. У вікні команди меню Формат/Ячейки на вкладинці Число вибрати формат Дата і встановити відповідний тип дати).
                                    Надати стиль шрифту і вирівнювання тексту за зразком. (Вертикальне вирівнювання тексту по центру можна встановити у вікні команди меню Формат/Ячейки на вкладинці Выравнивание).
                                    Оформити таблицю рамкою і кольором за зразком, (рис. 1) (Вкладники Вид, Граница команди меню Формат/Ячейки).</p>
                                </li>
                                <div>
                                    <img src="{% static 'excel/img/17.png' %}" alt="Alt" class="img_exc">
                                </div>
                                <li>Надати заголовок таблиці за допомогою WordArt.</li>
                                <li>Дати назву аркушу – Бібліотека (ПКМ на відповідній вкладці-Перейменувати–вводимо ім'я–Enter).</li>
                                <li>Зберегти документ на диску D у своїй папці ( «Група <Прізвище>»), надавши йому ім'я Практична_Excel_2_1.</li>
                            </ol>
                        <br><b>Завдання 2:</b>
                        <ol class="decimal">
                                <li>На  першому  листі  робочої  книги  розрахувати  оборотну  відомість  обігу  товарів  за  даними  таблиці:
                                    <div>
                                        <img src="{% static 'excel/img/18.png' %}" alt="Alt" class="img_exc">
                                    </div>
                                    <p>Wi=Ci*KWi<br>
                                    SPi=Ci*KPi<br>
                                    CRi=Ci*KRi<br>
                                    KKi=KWi+KPi-KRi<br>
                                    Ski=Ci*KKi</p>
                                </li>
                                <li>Перейти  на  другий  лист.</li>
                                <li>Виконати  розрахунок  рахунка-фактури  за  формою:
                                    <div>
                                        <img src="{% static 'excel/img/19.png' %}" alt="Alt" class="img_exc">
                                    </div>
                                    <p>Si=Ki+Xi<br>
                                        Ui=Si-(Si*Ci)/100</p>
                                </li>
                                    <br><p><h2>Зауваження: </h2>Замість  знака «X» записати  до  таблиці  формули, використовуючи  адресацію  комірок  електронної  таблиці. Наприклад, «A2+B4».</p>
                                <li>Зберегти документ на диску D у своїй папці ( «Група <Прізвище>»), надавши йому ім'я Практична_Excel_2_2.</li>
                                <li>Показати виконану роботу Викладачу.</li>
                            </ol>
        </div>
    </div>
</div>