{% extends 'access/index_db.html' %}
{% load static %}


{% block content_same_files %}
<div class="container">
    <div class="block">
        <div class="intro_content">
            <div class="title"><b>Вступ</b></div>

            <p>Microsoft Excel (повна назва Microsoft Office Excel) — табличний процесор, програма для роботи з електронними таблицями, створена корпорацією Microsoft для Microsoft Windows, Windows NT і Mac OS. Програма входить до складу офісного пакета Microsoft Office. Типові області застосування Excel:
            Завдяки тому, що лист Excel являє собою готову таблицю, Excel часто використовують для створення документів без усіляких розрахунків, що просто мають табличне представлення (наприклад, прайс-листи в магазинах, розклади);
            У Excel легко можна створювати різні види графіків і діаграм, які беруть дані для побудови з комірок таблиць (графік зниження ваги тіла за вказаний період від початку занять спортом);
            Його можуть використовувати звичайні користувачі для елементарних розрахунків (скільки витратив за цей місяць, що/кому/коли дав/взяв);
            Excel інтенсивно використовується в бухгалтерії — у багатьох фірмах це основний інструмент для оформлення документів, розрахунків і створення діаграм. Природно, він має в собі відповідні функції;
            Excel може навіть працювати як база даних. Хоча, звичайно, до повноцінної бази даних йому далеко.</p>
            <p>Microsoft Access є реляційною системою управління базами даних, що була розроблена корпорацією Microsoft для операційної системи Windows. Це програмне забезпечення дозволяє користувачам створювати та керувати базами даних, які містять інформацію про різні аспекти діяльності організації, включаючи клієнтів, замовлення, товари, послуги, фінансову звітність та багато іншого.</p>
            <p>Основна перевага Microsoft Access полягає в тому, що вона дозволяє користувачам створювати та керувати базами даних без необхідності вивчення складних мов програмування, таких як SQL. Це зробило її популярним інструментом серед некваліфікованих користувачів, а також серед бізнес-користувачів, які шукають ефективний спосіб організації та аналізу своїх даних.</p>
            <p>Основні функції Microsoft Access включають створення таблиць, запитів, форм та звітів. Користувачі можуть створювати таблиці, що містять інформацію про різні аспекти діяльності своєї організації, наприклад, про клієнтів, замовлення, товари тощо. Запити дозволяють користувачам вибирати та фільтрувати інформацію відповідно до своїх потреб. Форми дозволяють користувачам вводити та змінювати дані в таблицях, тоді як звіти дають можливість аналізувати та відображати дані в зручному форматі.</p>
            <p>Microsoft Access також має інші корисні функції: наприклад, можливість зберігання звітів та форм у веб-форматі, щоб користувачі могли звертатися до них через веб-браузер. Крім того, Access має інтегрований інструмент для створення макросів, що дозволяє користувачам автоматизувати рутинні задачі, такі як введення даних в таблицю або виконання певних запитів.</p>
            <p>Однією з найбільших переваг Microsoft Access є його можливості для створення взаємозв'язаних таблиць та запитів. Наприклад, якщо користувач створює таблицю клієнтів та таблицю замовлень, він може встановити зв'язок між цими таблицями, щоб забезпечити автоматичний відбір замовлень, пов'язаних з конкретним клієнтом.</p>
            <p>Іншою важливою функцією Access є можливість створення звітів, які дають користувачам можливість аналізувати дані у зручному форматі, такому як графіки або діаграми. Користувачі можуть створювати звіти, які містять підсумкову інформацію про свої дані, включаючи суму, середнє значення, кількість записів тощо.</p>
            <p>Окрім того, Microsoft Access має можливість для імпорту та експорту даних, що дозволяє користувачам легко переносити свої дані між різними програмами та комп'ютерами. Access також має функції захисту даних, такі як паролі та обмеження доступу, що дозволяють зберігати конфіденційну інформацію в безпечному місці.</p>
        </div>
    </div>
</div>
{% endblock %}